<div id="footer">
  <div class="container">
    <div class="footer_info">
      <div class="footer_logo">
        <p><%= t "general.cdrh_link_html" %></p>
        <a href="http://www.unl.edu" rel="external"><%= image_tag 'footer_logo_unl.png' %></a>
      </div>
      <div class="footer_logo">
        <p><%= t "general.new_school_link_html" %></p>
        <a href="https://www.newschool.edu/" rel="external"><%= image_tag 'footer_logo_tns.png' %></a>
      </div>
    </div><!-- /footer_info -->
    <div class="footer_additional_info">
    <p>Artwork and design by <a href="https://www.katwiese.com/">Kat Wiese</a>.
    
    </div>
  </div> <!-- /container -->
</div><!-- /footer -->
