<div class="navbar navbar-default navbar_subnav">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="<%= active?(resources_bibliography_path) %>">
        <%= link_to "Bibliography", resources_bibliography_path %>
      </li>
    </ul>
  </div>
</div><!-- /navbar -->
