<ul class="searchlinks">
  <li class="<%= active?(/^#{config.relative_url_root}\/browse/,
    request.path) %>">
    <%= link_to t("browse.title", default: "Browse"), browse_path %>
  </li>
  <li class="<%= active?(search_path) %>">
    <%= link_to t("search.title", default: "Search"), search_path, rel: "search" %>
  </li>
</ul>