<ul class="searchlinks">
  <li class="<%= 'active' if params[:action].include?("about") == true %>">
    <%= link_to "About the Site", about_path %>
  </li>
  <li class="<%= active?(search_path) %>">
    <%= link_to t("search.title", default: "Search"), search_path, rel: "search" %>
  </li>
</ul>
