<h1>Conditions of Use</h1>

<p>The <em>Charles W. Chesnutt Archive</em> comprises a wide variety of resources, and conditions of use are governed by a range of rights. The policy of the <em>Chesnutt Archive</em> is to make as many of the resources as possible available under a Creative Commons Attribution 4.0 International (CC BY 4.0) license. Users should consult each item to determine the rights governing use.</p>

    <p>In cases where the <em>Chesnutt Archive</em> does not hold the rights, users should contact the rights holder directly. For permission to use images of manuscripts, contact the holding institution directly.</p>

    <p>You do not need to request our permission to link to the <em>Archive</em> or to individual items within the <em>Archive</em>. We prefer that your links to the <em>Archive</em> be targeted to the main page and that any links to individual items within the <em>Archive</em> be accompanied by a link to the main page.</p>

<p>To identify the <em>Archive</em> as a source of information, please include the complete title of the <em>Archive</em>, its URL, and the date you accessed it, along with the other relevant documentation. For example: Chesnutt, Charles W. "Baxter's Procrustes." June 1904. <em>The Charles W. Chesnutt Archive</em>. Gen. ed. Stephanie P. Browner, Matt Cohen, and Kenneth M. Price. Accessed 31 March 2021. &lt;http://chesnuttarchive.org&gt;.</p>