<h1>Editorial Policy</h1>

<p>The <em>Charles W. Chesnutt Archive</em> (<em>CWCA</em>) aims to present texts that meet or exceed scholarly standards. To that end we have adopted the following processes for policy development, text selection, processing, and publication.</p>

<h2>Policy Development</h2>

<p>The <em>CWCA</em>'s decisions about encoding and markup have been developed collaboratively by the editorial staff and members of the Center for Digital Research in the Humanities (CDRH) team at Nebraska, in accordance with the CDRH value statement's emphasis on collaboration. We encourage our readers to <a href="mailto: kprice2@unl.edu;browners@newschool.edu;matt.cohen@unl.edu">contact us</a> if any of our policies or practices as outlined below or as evident in the texts seem misguided, questionable, or not best practice in light of Chesnutt's work, African American literary traditions, and the highest standards for digital scholarly editing.</p>

<h2>Editorial Practice</h2>

<p>The <em>Charles W. Chesnutt Archive</em> currently makes available a wide selection of Chesnutt's writings: all works of fiction published in Chesnutt's lifetime, including five books and dozens of short stories; his book-length biography of Frederick Douglass; a sampling of more than a dozen of his essays and speeches; two poems; and hand-corrected galley proofs of four of Chesnutt's book-length works. Also available are more than 300 contemporary reviews of Chesnutt's life and works, and a bibliography of his writings.</p> 

<p>With the support of the National Historical Publications and Records Commission, we are in the process of editing Chesnutt's complete incoming and outgoing correspondence, the first 200 letters of which will be available by June 2022. We also intend to expand our collection of scholarship on Chesnutt.</p>

<p>Whenever possible we make available an image of the original publication of the text being presented. The treatment of digital images is based on best practices. Any images obtained by the project—whether of printed, manuscript, or visual material—are created as 400- to 600-dpi TIFFs; images are converted to JPEG format and loaded into a IIIF image server and called from manifest URLs for display in the editorial interface.</p>

<p>For materials that require manual transcription, a project team member performs the initial transcription and encoding, including introduction of all relevant metadata. Initial transcriptions may be derived from a range of sources, including publicly available text, OCR (if the fonts permit), and in-house hand transcription. <em>CWCA</em> texts are encoded in the Text Encoding Initiative current version (TEI P5), with markup in eXtensible Markup Language (XML) to conform to standards and best practices recommended by the Text Encoding Initiative Consortium and the Association for Documentary Editing. The TEI Consortium is the accepted international guidelines-creating body for the encoding of historical and literary texts and the Association for Documentary Editing has adopted the TEI P5 as its current recommended best practice for encoding texts.</p> 

<p>After the initial transcription and encoding, the text undergoes at least three stages of proofing. First, it is proofed by another staff member against the print or manuscript original, a high-resolution digital image of the original, or microfilm image of the original. The encoding is checked for completeness and accuracy. Next, a senior <em>Archive</em> staff member with expertise in TEI encoding proofs the file, paying particular attention to the encoding and its adherence to TEI standards and the encoding guidelines established by the <em>CWCA</em>; the accuracy of the file's metadata is also checked. A <em>CWCA</em> editor then proofreads, supplies corrections, reviews textual cruxes, and writes headnotes for individual pieces. These final corrections are then implemented and the approved file is published on the public site. Transcription and proofing procedures and responsible staff for each text are indicated in the file's TEI header and credited in the metadata box at the bottom of the website page on which the text appears.</p>

<p>We make diplomatic transcriptions of the source texts, rendering the texts as they were published, including Chesnutt's extensive use of eye dialect. Errors or spelling and punctuation are retained in our transcriptions, but marked with a [sic] notation and lightly underlined; a corrected version of the text will appear if a user hovers over the error. We indicate uncertain readings and gaps in our transcription due to illegibility or damage.</p>

<p>We have not attempted to replicate with our transcriptions the display or typographic features—typeface, ornamentation, and other aspects of layout—of the books or periodicals in which the texts originally appeared. Users interested in the way typeface, ornamentation, and other aspects of layout may have affected the meaning of Chesnutt's writings may consult the page images we supply.</p>

<h2>Works-Based Policies</h2>

<h3>Published Works</h3>

<p>The copy-text for all works published in Chesnutt's lifetime will be the first edition or first periodical appearance. In some instances, Chesnutt's periodical publications were syndicated, and appeared in multiple periodicals on or around the same date. In such cases we have taken as our copy-text the periodical with the largest reported circulation (per available figures), reasoning that this version of the text had the greatest impact, as it was ostensibly read by the most people. If we were unable to gain access to the largest circulating periodical, we used the periodical with the second-highest circulation, and so forth.</p> 

<p>For ease of reading, we have chosen not to display form works (running heads, page numbers) at the tops or bottoms of pages of published works.</p>

<h3>Manuscripts and Unpublished Works</h3>

<p>The copy-text for works unpublished in Chesnutt's lifetime will be the latest manuscript version, inclusive of revisions made in Chesnutt's hand. In the Manuscripts section of the <em>CWCA</em>, images as well as transcriptions are provided.</p> 

<p>Our practice for transcribing notes written on a Chesnutt manuscript or galley proof differs according to the perceived relationship of the notes to the manuscript. If the notes are by Chesnutt, they are transcribed and indicated as being written in Chesnutt's hand. Otherwise, the commentary is divided into one of two categories: editorial notes or archival notes. Editorial notes include commentary about the manuscript, written by somebody other than Chesnutt. When we render our transcriptions on the web, transcribed editorial notes appear verbatim in the metadata. Archival notes consist of call numbers, sale prices, or other archival references. Archival notes on the manuscripts are transcribed and encoded but not displayed.</p>

<p>In Chesnutt's galley proofs, we reproduce all additions, deletions, and proofreading marks, where possible; if a proofreading mark cannot be reproduced, we describe the mark in bracketed words: e.g., [transposition mark]. For transpositions of text, we have represented the text in the order it appears on the printed page, not in the order indicated by Chesnutt's corrections; we have, however, indicated the segments of text that Chesnutt wished to transpose and noted the intended transposition.</p>

<p>While we chose not to reproduce running heads and page numbers in Chesnutt's published works, such elements are transcribed, encoded, and displayed in the galley proofs, as Chesnutt occasionally made corrections and changes to them.</p>

<h3>Reviews</h3>

<p>When editing reviews we record what appeared in the original source document, usually based on the earliest known periodical publication. Any editorial alterations—insertions of obviously omitted words or alterations of spelling, for example—are marked by brackets. 
</p>
<p>Transcriptions of reviews also include all authorial or editorial footnotes that appeared in the original document. Because we have not represented page breaks in our transcription and encoding of the reviews, authorial and editorial notes in the original appear at the end of the transcription, rather than at page breaks.
</p>
<p>In the future, we hope to include page images of the original publication whenever possible.
</p>

<h2>Interface</h2> 

<p>An Application Programming Interface (API) powers the <em>CWCA</em>'s data, indexes, and search. The <a href="https://github.com/CDRH/api" rel="external">API</a> is based on the <a href="https://www.openapis.org/" rel="external">OpenAPI</a> specification to enable others to reuse materials from the <em>Chesnutt Archive</em>. Software called <a href="https://github.com/CDRH/orchid" rel="external">Orchid</a> powers the website's front end. XML files are rendered into HTML by XSLT stylesheets using a tool called <a href="https://github.com/CDRH/datura" rel="external">Datura</a>.
</p>
<p>All software is publically available in the <a href="https://github.com/CDRH/chesnutt/" rel="external">CDRH GitHub archive</a>. All <em>CWCA</em> content is available through the <em>CWCA</em> website interface and the publicly accessible GitHub repository.
</p>

<h2>Project Management and Preservation</h2>

<p>We use a GitHub repository to store and manipulate the TEI and other data formats employed by the <em>CWCA</em>. Our editorial progress through Chesnutt's works is tracked through an online Google spreadsheet, which is periodically backed up in the GitHub repository.
</p>

<p>We use the <a href="http://www.loc.gov/standards/mets/" rel="external">Metadata Encoding and Transmission Standard (METS)</a>, a standard for encoding, describing and controlling digital objects, and for ensuring their long-term preservation and access. The standard is maintained by the Library of Congress and the Digital Library Federation. METS is designed to be used with other metadata schemas, including TEI.
</p>

<p>In addition to versioning through Github, the CDRH maintains its own separate backup and versioning procedures for projects including the <em>CWCA</em>, with images deposited in the UNL Libraries' preservation system, Ex Libris Rosetta.
</p>