

</div>

<div class="container-fluid home-hero">




</div>


<div class="container home-content-wrapper">

  <!--<div class="container callout_quote">
  <p>The workings of the human heart are the profoundest mystery of the universe. One moment they make us despair of our kind, and the next we see in them the reflection of the divine image.<br/><em>Charles Chesnutt</em></p>
</div>-->


  <p><em>The Charles W. Chesnutt Archive</em> seeks to make Chesnutt's writings conveniently accessible to all. Writing in the years after Reconstruction as white supremacy took new virulent forms, Chesnutt addressed topics of vital concern, then and now, including race, identity, violence, class, and the familial and economic relations that zigzag across America’s color line. During his lifetime he published six major book-length works (two collections of short stories, three novels, and a biography of Frederick Douglass) as well as more than sixty stories in both the Black and White press, which, through newspaper syndication as well as nationally distributed magazines, reached readers across the country. A lawyer, founder of Cleveland's leading stenography firm, and a dedicated civic leader, Chesnutt was also a public speaker and prolific essayist (more than seventy-five known essays and speeches), and he corresponded throughout his life with Black and White leaders, politicians, and writers.</p>
  <p>After his death, Black scholars and writers, including Carter G. Woodson, William Stanley Braithwaite, and Lorraine Hansberry, championed Chesnutt, and in 1954 Arna Bontemps, then head of libraries at Fisk University, worked with Chesnutt's daughter, Helen Chesnutt, to bring the majority of his papers to Fisk, including manuscripts for six unpublished novels and fifteen stories. Since the 1980s Chesnutt's works have been at the center of groundbreaking scholarship, and continue to reshape the landscape of literary studies. Drawing on the resources of libraries and collections from around the world, the <em>Charles W. Chesnutt Archive</em> is the most comprehensive record of works by and about Chesnutt, and it continues to grow. The <em>Archive</em> is directed by Stephanie P. Browner (The New School, New York), Matt Cohen (University of Nebraska–Lincoln), and Kenneth M. Price (University of Nebraska–Lincoln), with ongoing contributions from many other editor-scholars, students, information professionals, and technologists.</p>
