<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat id dui ultricies semper. In bibendum nulla sit amet eros sodales hendrerit. Vestibulum feugiat tristique efficitur. Donec suscipit ligula vel felis hendrerit molestie. Curabitur mollis tincidunt ipsum, id venenatis neque laoreet quis.</p>

</div>

<div class="container-fluid home-hero">

<div class="container">
  <p>The workings of the human heart are the profoundest mystery of the universe. One moment they make us despair of our kind, and the next we see in them the reflection of the divine image.<br/><em>Charles Chesnutt</em></p>
</div>


</div>


<div class="container home-content-wrapper">


<p>Quisque tellus massa, gravida quis vestibulum ut, eleifend vitae justo. Vestibulum a porta velit, non ornare ante. Praesent libero sapien, vehicula at lobortis sit amet, scelerisque vel sapien. Pellentesque venenatis ut diam sit amet tincidunt. Ut in justo sit amet eros elementum suscipit. Curabitur ornare faucibus egestas. Donec vitae blandit ex. Proin elit nisi, vestibulum non elementum ac, bibendum vel mauris. Praesent quis tristique leo. Vestibulum erat justo, tincidunt vel venenatis sit amet, efficitur eget nibh.</p>

<p>Duis aliquam, purus eu fringilla molestie, eros sem posuere nulla, quis lobortis diam neque vestibulum nunc. Suspendisse nec fermentum nunc. Etiam vehicula lacus quis mi gravida, sit amet consequat ex commodo. Quisque sodales tellus eget tellus ornare, et bibendum dui suscipit. Integer lectus leo, lobortis id dolor at, commodo sodales lacus. Fusce accumsan in lacus vitae volutpat. Donec tempor augue ac nunc porta, quis vestibulum enim interdum. Ut in dui ut sapien sodales elementum. Aliquam vulputate dui at ante congue, ut lobortis est tempus. Curabitur eu turpis eget justo porta condimentum. Phasellus id nisi non mi malesuada efficitur.</p>
