<h2>Design</h2>

<p>This page will be used to work out some design concepts before I add to other pages</p>

<p><a href="#proof">Proof</a> | <a href="#home">Home</a></p>
















<!-- PROOF EXAMPLE TITLE -->
</div>
<div style="height: auto; width: 100%; background-color: black;"> 
<div class="container" id="proof"><h3 style="color: #fff">
Proof
</h3></div>
</div>
<div class="container">
<!-- END PROOF EXAMPLE TITLE -->

<!-- PROOF EXAMPLE BODY -->

  <h1>Frederick Douglass</h1>

<div class="row">
  <div class="col-md-6">
    <div class="metadata">
    <h2>Source Text</h2>
  <ul>
      <li>
        <strong>Title:</strong> <span>Frederick Douglass</span>
      </li>
      <li>
        <strong>Date:</strong> <span><a href="/chesnutt/search?f%5B%5D=date_display%7C1899">1899</a></span>
      </li>
      <li>
        <strong>Place of Publication:</strong> <span><a href="#">New York</a></span>
      </li>
      <li>
        <strong>Repository:</strong> <span><a href="#">New York</a></span>
      </li>
  </ul>

   <div> <a href="#metadata">More about this item</a></div>
</div>
  </div>
  <div class="col-md-6">
    <div class="metadata key">
      <h2>Key</h2>
      <table class="table">
               <thead>
                  <tr>
                     <th scope="col">Textual Feature</th>
                     <th scope="col">Appearance</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>passage deleted with a strikethrough mark</td>
                     <td><del class="tei_del tei_del_rend_overstrike ">deleted passage</del></td>
                  </tr>
                  <tr>
                     <td>supplied text</td>
                     <td><span class="tei_supplied">supplied text</span></td>
                  </tr>
                  <tr>
                     <td>metamark</td>
                     <td><span class="tei_metamark">ϑ</span></td>
                  </tr>
                  <tr>
                     <td>note</td>
                     <td><span class="tei_note">note</span></td>
                  </tr>
                  <tr>
                     <td>passage in Chesnutt's hand</td>
                     <td>passage in <span class="tei_hand_resp_cwc">Chesnutt's hand</span></td>
                  </tr>
                  <tr>
                     <td>passage added in the margin</td>
                     <td>passage in <span class="tei_add tei_add_place_right">right margin</span>, passage in <span class="tei_add tei_add_place_left">left margin</span></td>
                  </tr>
                  
               </tbody>
            </table>
    </div>
  </div>
</div>
  

<div class="section">
<span class="hr"> </span><span class="pageimage"><a href="https://cdrhmedia.unl.edu/iiif/2/chesnutt%2Fccda.proof00003.001.jpg/full/!3000,3000/0/default.jpg" rel="prettyPhoto[pp_gal]" title="&lt;a href=&#34;https://cdrhmedia.unl.edu/iiif/2/chesnutt%252Fccda.proof00003.001.jpg/full/!3000,3000/0/default.jpg&#34; target=&#34;_blank&#34; &gt;open image in new window&lt;/a&gt;"><img src="https://cdrhmedia.unl.edu/iiif/2/chesnutt%2Fccda.proof00003.001.jpg/full/!300,300/0/default.jpg" class="display "></img></a></span>

<span class="tei_note tei_note_type_archival tei_note_place_top tei_hand_medium_pencil tei_hand_resp_unk">Cat Mss 95</span>
<span class="tei_note tei_note_type_authorial tei_note_place_top tei_hand_medium_black_ink tei_hand_resp_cwc">Chas. W. Chesnutt</span>

<span class="tei_fw"><em class="tei_hi tei_hi_rend_italic">A Douglass</em></span>

<p class="tei_p"><em class="tei_hi tei_hi_rend_italic">The photogravure used as a frontispiece to this volume is from a photograph by J. H. Kent, Rochester, New York, one of the last taken of Mr. Douglass. It is the portrait most highly thought of by his family, by whose permission it is used. The present engraving is by John Andrew &amp; Son, Boston.</em></p>
</div>

<div class="section">
<h3>PREFACE.</h3>

<p class="tei_p"><em class="tei_hi tei_hi_rend_italic">Frederick Douglass lived so long, and played so conspicuous a part on the world's stage, that it would be impossible, in a work of the size of this, to do more than touch upon the salient features of his career, to suggest the respects in which he influenced the course of <del class="tei_del tei_del_rend_overstrike tei_del_xml:id_d001 tei_hand_medium_blue_pencil tei_hand_resp_cwc">public</del><span class="tei_add tei_add_place_left tei_hand_medium_blue_pencil tei_hand_resp_cwc"><span class="tei_metamark tei_metamark_function_delete tei_metamark_target_#d001">ϑ</span></span> events in his lifetime, and to epitomize for the readers of another generation the judgment of his contemporaries as to his genius and his character.</em></p>

<p class="tei_p"><em class="tei_hi tei_hi_rend_italic">Douglass's fame as an orator has long been secure. His position as the champion of an oppressed race, and at the same time an example of its possibilities, was, in his own generation, as picturesque as it was unique<span class="tei_subst tei_hand_medium_black_ink tei_hand_resp_cwc"><del class="tei_del tei_del_rend_overstrike">,</del><span class="tei_add tei_add_place_left tei_add_rend_marked tei_add_xml:id_s001">;<span class="tei_metamark tei_metamark_target_#s001 tei_metamark_function_emphasize">/</span></span></span> and <span class="tei_add tei_add_place_inline tei_hand_medium_black_ink tei_hand_resp_cwc"><span class="tei_metamark tei_metamark_function_add tei_metamark_target_#a001">‸</span></span><span class="tei_add tei_add_place_left tei_add_rend_marked tei_hand_medium_black_ink tei_hand_resp_cwc tei_add_xml:id_a001">his life</span> may serve for all time as an <span class="tei_subst tei_hand_medium_black_ink tei_hand_resp_cwc"><del class="tei_del tei_del_rend_overstrike">illustration of what sheer manhood can accomplish under circumstances the most adverse.</del><span class="tei_add tei_add_place_right tei_add_rend_marked">incentive to aspiring souls who would <span class="tei_subst"><del class="tei_del tei_del_rend_overstrike">rise above untoward circumstances</del><span class="tei_add tei_add_place_right tei_add_rend_marked">fight the battles and win the love of mankind.</span></span></span></span>  The average American of today who sees, when his attention is called to it, and deplores, if he be a thoughtful and just man, the deep undertow of race prejudice that retards the progress of the colored people of our own generation, cannot, except by reading the<span class="tei_add tei_add_place_inline tei_hand_medium_black_ink tei_hand_resp_cwc"><span class="tei_metamark tei_metamark_function_add tei_metamark_target_#a034">‸</span></span><span class="tei_add tei_add_place_left tei_add_rend_marked tei_hand_medium_black_ink tei_hand_resp_cwc tei_add_xml:id_a034"><span class="tei_metamark tei_metamark_function_emphasize tei_metamark_target_#a034">(</span>painful</span> records of the past, conceive of the mental and spiritual darkness to which slavery, as the inexorable condition of its existence, condemned its victims and, in a less measure, their oppressors, or of the blank wall of proscription and scorn by which free people of color were shut up in a moral and social Ghetto, the gates of which have yet not been entirely torn down.</em></p>

<p class="tei_p"><em class="tei_hi tei_hi_rend_italic">From this night of slavery Douglass emerged, passed through the limbo of prejudice <span class="tei_subst tei_hand_medium_black_ink tei_hand_resp_cwc"><del class="tei_del tei_del_rend_overstrike">that</del><span class="tei_add tei_add_place_left">which</span></span> he encountered as a freeman, and took his place in history. "As few of the world's great men have ever had so checkered and diversified a career," says Henry Wilson, "so it may at least be plausibly claimed that no man represents in himself more conflicting ideas and interests. His life is, in itself, an epic which finds few to equal it in the realms of either romance or reality." It was, after all, no misfortune for humanity that Frederick Douglass felt the iron hand of slavery, for his genius <span class="tei_subst tei_hand_medium_black_ink tei_hand_resp_cwc"><del class="tei_del tei_del_rend_overstrike">forged</del><span class="tei_add tei_add_place_left">changed</span></span> the drawbacks of color and condition into <del class="tei_del tei_hand_medium_black_ink tei_hand_resp_cwc tei_del_rend_overstrike">the weapons with which he fought a race's battles, and made of them the</del> levers by which he raised himself and his people.</em></p>
</div>

<div class="metadata" id="metadata">
  <h2>Information about this file</h2>
  <ul>
      <li>
        <strong>Cite this item:</strong> <span>[need to get guidance on this]</span>
      </li>
      <li><strong>Source Document: </strong>
      <a href="https://cdrhdev1.unl.edu/media/data/chesnutt/source/tei/ccda.proof00003.xml">ccda.proof00003.xml</a>
    </li>
    <li><strong>Document ID: </strong>
      <span>ccda.proof00003</span>
    </li>
      <li>
        <strong>Editorial Note:</strong> <span>[need to consult on where this is pulled form and work out where it will be stored]</span>
      </li>
      <li>
        <strong>Rights info:</strong> <span>[pull from TEI header and add to "rights" field]</span>
      </li>
      <li>
        <strong>Conributors to the digital file:</strong> <span>Lastname, Firstname; Lastname, Firstname; Lastname, Firstname</span>
      </li>
      <li>
        <strong>Link to bibliography:</strong> <span><a href="">Bibliography</a></span>
      </li>
  </ul>
</div>
<!-- END PROOF EXAMPLE BODY -->

















<!-- HOME EXAMPLE TITLE -->
</div>
<div style="height: auto; width: 100%; background-color: black;"> 
<div class="container" id="home"><h3 style="color: #fff">
Home/Blend Modes
</h3></div>
</div>
<!-- END HOME EXAMPLE TITLE -->

<!-- HOME EXAMPLE BODY -->
<% blend_modes = ['normal', 'multiply', 'screen', 'overlay', 'darken', 'lighten', 'color-dodge', 'color-burn', 'hard-light', 'soft-light', 'difference', 'exclusion', 'hue', 'saturation ', 'color', 'luminosity'] %>

<% blend_modes.each do |blend| %>
<div class="container"><h3><%= blend %></h3></div>
<div class="test_home_banner_outer test_home_banner_outer<%= blend %>">
  <div class="container">

    <div class="test_home_banner_inner" style="mix-blend-mode: <%= blend %>;">
    </div>

    <div class="test_home_banner_inner2" style="mix-blend-mode: <%= blend %>;">
    </div>
  </div>
</div>
<div style="width: 100%; height: 50px;"></div>
<% end %>
<!-- END HOME EXAMPLE BODY -->

