@import "../bootstrap-variables.scss";

// Google Fonts
// Garamond for headers, Lora for body text
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,562;1,562&display=swap');

$font-headers: 'EB Garamond', serif;
$font-body: 'Lora', serif;

// Calling variable font if browser supports it
// will probabyl change this out for static fonts in final version
@supports (font-variation-settings: normal) {
  h1, h2, h3, h3, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   font-family: $font-headers;
   font-weight: 400;
  }
  body {
    font-family: $font-body;
  }
}

body {
  font-variation-settings: 'wght' 400;
  font-weight: 400;
}

// ================
// General settings
// ================

body {
  background-color: $light-silver;
}

.main_content {
  background-color: $white;
  padding: .5em;
}

// Adding underlines back on links with some exceptions

a {
  text-decoration: underline;
  &:hover {
    text-decoration-color: $brand-success;
    text-decoration-thickness: 3px;
  }
}

#header a, #footer a, a.btn {
  text-decoration: none;
}

// Header and Footer 

#header, #footer {
  background-color: $dark;
  color: $white;
  text-align: center;

  .h1 {
    font-variation-settings: 'wght' 300; //todo chane if we remove variable fonts
    font-weight: 300;
    margin-top: .1em;
  }

  a {
    color: $white;
  }

  .navbar-nav {
    display: flex;
    flex-wrap: wrap;
    font-family: $font-headers;
    font-size: 1.3em;
    justify-content: center;
    width: 100%;
    
    a {
      color: $dark;
    }
  }

  .navbar-default {
    background-color: $white;
  }

  .navbar {
    margin-bottom: 0;
  }
}

#footer {
  margin-bottom: 0;
  padding-bottom: 8em;
}

#header {
  height: auto;
}

// Stick footer to bottom

#body-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content-wrapper {
  flex-grow: 1;
}

// ================
// TEI
// ================

// Note there will be empty select rules until 
// I figure out if I need to style them

// Poems

div.poem {}

.tei_lg_type_stanza {}

.tei_lg {
  display: block;
  margin-bottom: 1em;
}

.tei_l {
  display: block;
}

// Texts

.tei_byline,
.tei_ab {
  display: block;
}

.tei_ab {
  margin: 0 0 .69em;
}

.tei_byline {
  margin-bottom: .5em;
}

.tei_ab_type_title {
  font-size: 1.2em;
  font-weight: 600;
}

.tei_note {
  background-color: $platinum;
}

.bold {
  font-weight: 600;
}

.tei_name {
  font-style: italic;
}

.tei_fw, .tei_titlePage {
  background-color: $light-silver;
  display: block;
  margin-bottom: .5em;
  text-align: center;
}

.tei_titlePage {
  border: solid 1px $light-silver;
  margin: .5em 0;
  padding: .5em;
}

.SmallCaps {
  text-transform: uppercase;
}

.tei_sic {
  background-color: $platinum;
}

.tei_sic:after {
  content: " [sic]";
}

.milestone {
  border-top: solid 2px $platinum;
  display: block;
}

// figures

.inline_figure {
  border: solid 2px $platinum;
  margin: 1em 3em;
  text-align: center;
}

.tei_caption {}


// Page images

span.pageimage {
  border-bottom: 2px solid $platinum;
  border-left: 2px solid $platinum;
  border-right: 2px solid $platinum;
  clear: both;
  float: right;
  margin: 0 0 1em .5em;
  padding: 0;
}

.hr {
  border-top: 2px solid $platinum; 
  clear: right;
  display: block;
  height: 0;
  margin: 10px 0 0 0;
  padding: 0px 0 0 0;
  width: 100%;
}

.pageimage img {
  background-color: $platinum;
  min-height: 80px;
  min-width: 80px;
}


// ================
// Home
// ================

.controller_general.action_index .lead {
  margin-top: 1em;
}

.home-hero {
  background-image: image-url("home/chesnutt_home_banner.jpg");
  background-position: top center;
  background-size: cover;
  height: 300px;
  margin-bottom: 1em;
  width: 100%;
  p {
    color: #fff;
    font-family: 'EB Garamond', serif;
    font-size: 1.6em;
    margin-top: 1em;
    max-width: 400px;
  }
}

@media (min-width: 1200px) {
  .home-hero {
    height: 400px;
  }
}

@media (min-width: 1600px) {
  .home-hero {
    height: 500px;
  }
}

.controller_general.action_index #content-wrapper {
  margin-bottom: 0;
}

.home-content-wrapper {
  margin-bottom: 3em;
}
