@import "../bootstrap-variables.scss";

// ================
// General settings
// ================

body {
  background-color: $white;
  font-variation-settings: 'wght' 400;
  font-weight: 400;
}

.archive_item {  // class around tei -> html generations
  background-color: $white;
  border-radius: 5px;
  border: solid 1px $platinum;
  line-height: 1.8em;
  padding: 20px;
}

.flex {
  display: flex;
}

// HTML Elements

.archive_item p {
  text-indent: 3em;
}

// Adding underlines back
a {
  text-decoration: underline;
  &:hover {
    text-decoration-color: $brand-success;
    text-decoration-thickness: 3px;
  }
}

// Then removing underlines in some places
#header a, #footer a, a.btn {
  text-decoration: none;
}

::selection {
  background-color: rgb(229, 207, 169);
}

.rend_bold {
  font-weight: 600;
}

hr {
  &.horBar {
    border-top: solid 3px black;
    width: 50%;
  }
}

blockquote {
  border: none;
  font-size: 1em;
  margin-left: 3em;
  padding: 0;

  p {
    font-size: .9em;
    line-height: 1.4em
  }
}

// ================
// Header and Footer
// ================

#header, #footer {
  background-color: $brand-info;
  color: $white;
  text-align: center;

  a {
    color: $white;
  }
}

// Browse and Search links on upper right when screen is larger
ul.searchlinks {
  display: block;
  font-family: $font-family-sans-serif;
  list-style-type: none;
  margin-top: 10px;

  li {
    display: inline;
    margin-right: 20px;
  }
}

@media (min-width: $screen-md-min) {
  ul.searchlinks {
    position: absolute;
    right: 0;
    top: 0;

    li {
      margin-right: 20px;
    }
  }
}

// Header
// see bottom of header for mobile font sizes

#header {
  height: auto;

  .site-title-container {
    width: 100%;
  }

  .site-title {
    border-bottom: double 3px $gold-metallic;
    display: inline-block;
    font-family: $font-family-display;
    margin-top: .1em;
    padding-top: .4em;

    .title_the, .title_archive  {
      font-size: .7em;
    }

    .title_cwc {
      font-family: 'Marcellus SC';
      letter-spacing: .1em;
      margin: 0 .1em 0 .3em;
      word-spacing: -.1em;
    }
  }

  //navbar 

  $subnav: $cultured;

  .navbar-default, .navbar {
     border: 0;
     margin-bottom: 0;
  }

  .navbar-nav {
    display: flex;
    flex-wrap: wrap;
    font-family: $font-family-sans-serif;
    font-size: 1.1em;
    justify-content: center;
    width: 100%;
  }

  // mainnav

  .navbar_mainnav {
    background-color: $brand-info;
    border-bottom: solid $subnav 3px;

    a {
      color: $white;
    }
  }

  .navbar-default.navbar_mainnav .navbar-nav > .active > a, 
  .navbar-default.navbar_mainnav .navbar-nav > .active {
    background-color: $subnav;
    color: $brand-primary;
  }

  // subnav

  .navbar-default.navbar_subnav .navbar-nav > .active > a, 
  .navbar-default.navbar_msubnav .navbar-nav > .active {
    background-color: $white;
  }

  .navbar_subnav.navbar {
    color: $dark;
    font-size: .8em;
    height: auto;
    min-height: 25px;

    a {
      color: $dark;
      padding: 2px 10px 5px 10px;

      &.active {
        background-color: $gold-metallic;
      }
    }
  }

  .navbar-default.navbar_subnav {
    background-color: $subnav;
  }

} // end header 

@media (max-width: $screen-xs-max) {
  #header {
    .site-title-container {
      .h1 {
        font-size: 6vw;
      }
    }
    .navbar-nav {
      font-size: .9em;
    }
  }
}

// Footer

#footer {
  font-family: $font-family-sans-serif;
  margin-bottom: 0;
  padding-bottom: 8em;
  padding-top: 1.5em;

  .footer_info {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

      .footer_logo {
        align-items: center;
        background-color: rgba(255, 255, 255, 0.07);
        margin: 1em;
        padding: 20px;

      p {
        font-size: 1.4em;
        margin: 0;
        padding: 0;

        a {
          color: #fff;
        }
      }

      img {
        max-width: 100%;
      }
    }
  }

  a {
    color: $gold-metallic;
  }
}

.footer_additional_info {
  font-size: 1.4em;
  margin-top: 2em;
}

// Stick footer to bottom

#body-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content-wrapper {
  flex-grow: 1;
}

// ================
// Item listing, top level pages, search
// ================

// Secondary page listing (see about main page)

.page_subnav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  li {
    flex-grow: 1;
    list-style: none;
    min-width: 50%;
    text-align: center;

    a {
      border: solid $dark-purple 1px;
      display: block;
      margin: 10px;
      min-height: 100px;
      padding: 10px;
    }
  }

  // repeating backgrounds

  li:nth-child(4n + 1) {
    a {
      background-image: image-url("subtle_stripes.png");
    }
  }

  li:nth-child(4n + 2) {
    a {
      background-image: image-url("chevron.png");
    }
  }

  li:nth-child(4n + 3) {
    a {
      background-image: image-url("double-bubble-outline.png");
    }
  }

  li:nth-child(4n + 4) {
    a {
      background-image: image-url("stripes-light.png");
    }
  }
}

// =======================
// Page decorative banners
// =======================

// .page_banner_outer
//   .container
//     .page_banner_text 
//       h1 
//       p
//     .page_banner_illustration
//       .page_banner_illustration_inner

.page_banner_outer {
  background-image: image-url("stripes-light.png");
  margin-top: -49px;
}

.page_banner_outer > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .page_banner_text {
    background-color: rgba(255,255,255,.8); 
    flex-grow: 1;
    padding: 0 10px 10px 10px;
  }
  .page_banner_illustration {
    align-self: flex-end;
    flex-grow: 2;
    min-width: 383px;
    padding: 10px 10px 0px 10px;
    text-align: center;
  }
}

@media (min-width: $screen-md-min) {
  .page_banner_outer > .container {
    flex-direction: row;
  }
}

.page_banner_outer {
  background-position: top center;
  background-size: cover; //contain
  height: 550px;
  margin-bottom: 1em;
  width: 100%;
  .container {
    .page_banner_text{
    }
  }
}

// Works
.action_works {
  .page_banner_outer {
    background-image: image-url("chesnutt-works.jpg");
    width: 100vw;
    height: 32vw;
  }
}

//Scholarship
.action_scholarship {
  .page_banner_outer {
    background-image: image-url("chesnutt-scholarship.jpg");
  }
}

//About
.action_about {
  .page_banner_outer {
    background-image: image-url("chesnutt-about.jpg");
    height: 46vw;
    height:900px;
    width: 100vw;
  }
}

.action_about_history.page_about img {
  margin: auto;
  max-width: 100%;
  text-align: center;
}

// Manuscripts

.page_illustration_outer {
  background-image: image-url("chesnutt-manuscripts.jpg");
  background-size: cover;
  display: block;
  float: right;
  height: 800px;
  width: 400px;
}

// ================
// Items
// ================

.metadata {
  border: 1px solid silver;
  clear: both;
  margin: 10px 0;
  padding: 10px 20px 35px 20px;
  position: relative;

  .btn-metadata {
    bottom: 0;
    position: absolute;
    right: 0;
    width: 100%
  }

  ul {
    columns: 1;
    list-style-type: none;
    margin: 0 0 .5em 0;
    padding: 0;
  }

  h2 {
    font-size: 1.2em;
    font-weight: 800;
    margin: 0 0 .5em 0;
    padding: 0;
  }
}

// ================
// Home
// ================

@media (min-width: $screen-sm) { // only make home items bigger if non mobile
  .controller_general.action_index {

    #header {
      .site-title {
        font-size: 1.4em;
      }
    }

    .navbar-default.navbar_mainnav {
      font-size: 1.3em;

      // Hide Home button on home page
      // todo: talk to PI's about this
      .navbar-nav > .active {
        display: none;
      }
    }

    .lead {
      margin-top: 1em;
    }

    #content-wrapper {
      margin-bottom: 0;
    }
  } 

  .home-content-wrapper {
    margin-bottom: 3em;
  }
}

// Home Hero

.home-hero {
  background-color: #aaa;
  background-image: image-url('chesnutt-home.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px; // fallback
  height: 39vw;
  margin-bottom: 1em;
  padding:  0;
  position: relative;
  width: 100%; //fallback
  width: 100vw;
  z-index: 1;
} 

.home-content-wrapper {
  .callout_quote {
    background-color:  $gold-metallic;
    box-shadow: 0px 0px 7px $gray-darker;
    display: block;
    float:  left;
    margin-top:  -4em !important;
    margin: .1em .8em .2em 0;
    max-width: 400px;
    padding: .6em;
    position: relative;
    z-index: 200;

    p {
      background-color: rgba(255,255,255,.2);
      border:  double 3px $brandy;
      color: $gray-base;
      font-size: 1.3em;
      height: 100%;
      line-height: 1.2em;
      margin:  0;
      padding:  .6em;
      text-align: left;
      text-indent: 0 !important;

      em {
        display: block;
        text-align: right;
      }
    }
  }
}
