@import "../bootstrap-variables.scss";

// Google Fonts
// Garamond for headers, Lora for body text
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,562;1,562&display=swap');

$font-headers: 'EB Garamond', serif;
$font-body: 'Lora', serif;

// Calling variable font if browser supports it
// will probabyl change this out for static fonts in final version
@supports (font-variation-settings: normal) {
  h1, h2, h3, h3, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
   font-family: $font-headers;
   font-weight: 400;
  }
  body {
    font-family: $font-body;
  }
}

body {
  font-variation-settings: 'wght' 400;
  font-weight: 400;
}

// ================
// General settings
// ================

body {
  background-color: $light-silver;
}

.main_content {
  background-color: $white;
  border-radius: 5px;
  border: solid 1px $platinum;
  padding: 20px;
  line-height: 1.8em;
}

// Adding underlines back on links with some exceptions

a {
  text-decoration: underline;
  &:hover {
    text-decoration-color: $brand-success;
    text-decoration-thickness: 3px;
  }
}

#header a, #footer a, a.btn {
  text-decoration: none;
}

// Header and Footer 

#header, #footer {
  background-color: $dark;
  color: $white;
  text-align: center;

  .h1 {
    font-variation-settings: 'wght' 300; //todo chane if we remove variable fonts
    font-weight: 300;
    margin-top: .1em;
  }

  a {
    color: $white;
  }

  .navbar-nav {
    display: flex;
    flex-wrap: wrap;
    font-family: $font-headers;
    font-size: 1.3em;
    justify-content: center;
    width: 100%;
    
    a {
      color: $dark;
    }
  }

  .navbar-default {
    background-color: $white;
  }

  .navbar {
    margin-bottom: 0;
  }
}

#footer {
  margin-bottom: 0;
  padding-bottom: 8em;
}

#header {
  height: auto;
}

// Stick footer to bottom

#body-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content-wrapper {
  flex-grow: 1;
}

// ================
// TEI
// ================

// Proofs



.tei_hi_rend_underline {
  text-decoration: underline;
}

.tei_supplied {
  background-color: yellow;
}

// Metamark / adds

.tei_add_place_inline, 
.tei_add_place_margin-bottom,
.tei_add_place_margin-left, 
.tei_add_place_margin-right,
.tei_add_place_margin-top, 
.tei_add_rend_circle {
  border: solid #aaa 1px;
  display: inline;
  background-color: beige;
  padding: 1px 3px 0px 3px;
}

.tei_add_place_inline {
  &:before {
    content: "[inline]  ";
  }
}

.tei_add_place_margin-left {
  &:before {
    content: "[margin left]  ";
  }
}

.tei_add_place_margin-bottom {
  &:before {
    content: "[margin bottom]  ";
  }
}

.tei_add_place_margin-right {
  &:before {
    content: "[margin right]  ";
  }
}

.tei_add_place_margin-top {
  &:before {
    content: "[margin top]  ";
  }
}

.tei_add_rend_circle {
  border-radius: 7px;
}

.tei_seg {
  background-color: $platinum;
  border-bottom: dashed black 1px;
}

.tei_metamark_rend_lasso {
  min-width: 1em;
  min-height: 1em;
  display: inline-block;
  border: dashed 1px black;
  background-color: platinum;
  border-radius: 7px;
}

// Note there will be empty select rules until 
// I figure out if I need to style them

// Poems

div.poem {}

.tei_lg_type_stanza {}

.tei_lg {
  display: block;
  margin-bottom: 1em;
}

.tei_l {
  display: block;
}

// Texts

.tei_byline,
.tei_ab {
  display: block;
}

.tei_ab {
  margin: 0 0 .69em;
}

.tei_byline {
  margin-bottom: .5em;
}

.tei_ab_type_title {
  font-size: 1.2em;
  font-weight: 600;
}

.tei_note {
  background-color: $platinum;
}

.bold {
  font-weight: 600;
}

.tei_name {
  font-style: italic;
}

.tei_fw, .tei_titlePage {
  background-color: $light-silver;
  display: block;
  margin-bottom: .5em;
  text-align: center;
}

.tei_titlePage {
  border: solid 1px $light-silver;
  margin: .5em 0;
  padding: .5em;
}

.SmallCaps {
  text-transform: uppercase;
}

.tei_sic {
  background-color: $platinum;
}

.tei_sic:after {
  content: " [sic]";
}

.milestone {
  border-top: solid 2px $platinum;
  display: block;
}

// figures

.inline_figure {
  border: solid 2px $platinum;
  margin: 1em 3em;
  text-align: center;
}

.tei_caption {}


// Page images

span.pageimage {
  border-bottom: 2px solid $platinum;
  border-left: 2px solid $platinum;
  border-right: 2px solid $platinum;
  clear: both;
  float: right;
  margin: 0 0 1em .5em;
  padding: 0;
}

.hr {
  border-top: 2px solid $platinum; 
  clear: right;
  display: block;
  height: 0;
  margin: 10px 0 0 0;
  padding: 0px 0 0 0;
  width: 100%;
}

.pageimage img {
  background-color: $platinum;
  min-height: 80px;
  min-width: 80px;
}

// letters

.tei_dateline {
  display: block;
}




// From Whitman
// =====

// Editorial Marks

.tei_ref_target, .internal_link.tei_ptr {
  vertical-align: super;
  font-size: 1em;
}

.editorial_note {
  display: block;
}

// Quotes

/*  q in TEI */
.tei_q {
  display: block;
  margin: .5em 0;
  padding: .5em 4em .5em 4em;
}

// Poems

.inline_quote
.tei_q,
.tei_floatingText,
.tei_lg_type_poem,
.tei_lg,
.tei_lg_type_linegroup,
.tei_l {
  display: block;
}

/* correspondence */

.tei_salute {
  display: block;
  margin: .5em 0;
}

.tei_name_type_place {
display: block;
}

.tei_address {
  margin-top: 1.5em;
  display: block;
}

.tei_addrline {
  display: block;
}

/* Manuscripts */

.tei_del_rend_overwrite {
  color:orange;
}

.tei_add_place_inline {
  //color:magenta;
}

.unclear,
.tei_gap_reason_illegible {
  color: #aaa;
}

/* Will need to discuss if we wantto keep this, 
it is not supported in all browsers 
see https://whitman-dev.unl.edu/manuscripts/transcriptions/yal.00002.html */
.tei_del_rend_overstrike sup {
  display:inline-block;
  text-decoration-skip-ink: none; 
  text-decoration-skip: none;
  text-decoration: underline;
  text-underline-offset: -.3em;
  padding-left: 0em;
  text-indent: 0em;
  font-size: 1em;
}

.tei_milestone_unit_glued {
  margin: .5em;
  text-align: center;
  color: #939393;
}

.inline_tei_rend_insertion {
  vertical-align: sub; /* prevents triangle formation */
}

.tei_add_place_infralinear {
  vertical-align: sub;
}

.tei_hashmark_title {
text-align: center;
margin: .5em 0;
}

.tei_delSpan_rend_hashmark {
  background-color: #CCCCCC;
  padding: .5em;
}

/* not sure if these stylings are manuscript specific */
.tei_list_type_simple {
  list-style: none;
  padding: 0;
  margin: 0 0 1em 0;
}

/* marginalia */

.tei_titlePage {
  margin: 1em 0;
  display:block;
}

.tei_note_type_authorial span {
  border: double 3px blue;
  border-right: none;
  border-left: none;
  display: inline;
  background-color: yellow;
  
}

.tei_note_type_authorial {
  margin: .5em 0 1em 0;
}

.tei_titlePart_type_main {
  font-weight: 800;
  display: block;
  margin: .5em 0 1em 0;
}

.tei_milestone_rend_horbar-short-center {
  width: 6em;
  margin: 1em auto;
}

.tei_pubPlace {
  display: block;
}




// Hand CSS
// DRAFT

.tei_hand_resp_cwc {
  border-bottom: double 3px $gold;
}

// .tei_hand_medium_black_pen {
//   background-color: red;
// }


// ================
// Home
// ================

.controller_general.action_index .lead {
  margin-top: 1em;
}

.home-hero {
  background-image: image-url("home/chesnutt_home_banner.jpg");
  background-position: top center;
  background-size: cover;
  height: 300px;
  margin-bottom: 1em;
  width: 100%;
  p {
    color: #fff;
    font-family: 'EB Garamond', serif;
    font-size: 1.6em;
    margin-top: 1em;
    max-width: 400px;
  }
}

@media (min-width: 1200px) {
  .home-hero {
    height: 400px;
  }
}

@media (min-width: 1600px) {
  .home-hero {
    height: 500px;
  }
}

.controller_general.action_index #content-wrapper {
  margin-bottom: 0;
}

.home-content-wrapper {
  margin-bottom: 3em;
}

// interface changes
.metadata ul {
  columns: 2;
}

.metadata ul {
  columns: 2;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.metadata {
  border: 1px solid silver;
  padding: 10px 20px;
  margin: 10px 0;
}

#footer {
  padding-top: 1.5em;
}

.footer_logo {
  margin-top: 1.5em;
}

.tei_note_type_authorial {}
.tei_note_place_margin-bottom {}

#header  {
  border-bottom: double 3px #C8963E;
  background-color: transparent;
}

.site-title-container {
  width: 100%;
background-color: #000;}

#header .navbar-default {
  border: 0;
  
}

::selection {
  background-color: rgb(229, 207, 169);
}

.home-hero p {
  background-color: rgba(0,0,0,.5);
  padding: .5em .5em 1em .5em;
  line-height: 1.2em;
  text-align: left;
  margin: 0;
  height: 100%;

}
.home-hero p em {
  display: block;
  text-align:right;
}

.controller_general.action_index #header .h1 {
  
  font-size: 5em;
  max-width: 10em;
  margin: auto;
  text-align: center;
  padding-bottom: .3em;
  line-height: .95em;
  
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active {

  background-color: transparent;
  
  box-shadow: 4px 0 10px -4px rgba(0,0,0,.07),
    -4px 0 10px -4px rgba(0,0,0,.07);
  
}

// New changes



