@import "../bootstrap-variables.scss";

// ================
// TEI
// ================

$overwrite_color: darken($brand-success, 10%);

// Proofs

.tei-hi-rend-underline {
  text-decoration: underline;
}

.tei-hi-rend-overline {
  border-top: solid black 1px;
}

.tei-hi-rend-circled {
  border: solid black 1px;
  border-radius: .5em;
}

.tei-hi-rend-dotted {
  border-bottom: dotted black 4px;
}

.tei-hi-rend-overstrike {
  text-underline-offset: -.3em;
}

.tei-supplied {
  background-color: $banana-mania;
}

.tei-del-rend-circled {
  border: solid black 1px;
}

// Metamark / adds

.tei-add-place-margin-left {
  &:before {
    content: " [left margin] ";
    text-decoration: none;
  }
}

.tei-add-place-margin-bottom {
  &:before {
    content: " [bottom margin] ";
    text-decoration: none;
  }
}

.tei-add-place-margin-right {
  &:before {
    content: " [right margin] ";
    text-decoration: none;
  }
}

.tei-add-place-margin-top {
  &:before {
    content: " [top margin] ";
    text-decoration: none;
  }
}

.tei-add-place-left {
  &:before {
    content: " [left margin] ";
    text-decoration: none;
  }
}

.tei-add-place-right {
  &:before {
    content: " [right margin] ";
    text-decoration: none;
  }
}

.tei-add-place-top {
  &:before {
    content: " [top margin] ";
    text-decoration: none;
  }
}

.tei-add-place-bottom {
  &:before {
    content: " [bottom margin] ";
    text-decoration: none;
  }
}

.tei-add-place-above {
  &:before {
    content: " [above line] ";
    text-decoration: none;
  }
}

.tei-add-place-below {
  &:before {
    content: " [below line] ";
    text-decoration: none;
  }
}


.tei-add-place-supralinear {
  &:before {
    content: " [above line] ";
    text-decoration: none;
  }
}

.tei-add {
  font-style: normal;
}

.tei-add-rend-circle {
  border-radius: 7px;
}

.tei-note-type-archival {
  color: #aaa;
  font-family: $font-family-monospace;
  display: block;
}

.tei-note-type-authorial {
   display: block;
}


.tei-seg {
  background-color: $platinum;
  border-bottom: dashed black 1px;
}


.tei-metamark.tei-metamark-rend-lasso {
  display: none;
}

// Note there will be empty select rules until 
// I figure out if I need to style them

// Poems

div.poem {}

.tei-lg-type-stanza {}

.tei-lg {
  display: block;
  margin-bottom: 1em;
}

.tei-l {
  display: block;
}

// Texts

.tei_byline,
.tei-ab {
  display: block;
}

.tei-ab {
  margin: 0 0 .69em;
}

.tei-byline {
  margin-bottom: .5em;
}

.tei-ab-type-title {
  font-size: 1.2em;
  font-weight: 600;
}

// tei note on proofs

.subcat_galley_proofs .tei_note,
.tei-note-demo {
  background-color: rgba(194,218,217,1);
  border: solid #aaa 1px;
  display: inline;
}

.bold {
  font-weight: 600;
}

// .tei-name {
//   font-style: italic;
// }

.tei-fw, .tei-titlePage {
  background-color: $gray-lighter;
  display: block;
  margin-bottom: .5em;
  text-align: center;
}

// suppress fw on certain pages
// example below

// .category-correspondence {
//   .tei-fw {
//     display: none;
//   }
// }

.tei-titlePage {
  border: solid 1px $gray-lighter;
  margin: .5em 0;
  padding: .5em;
}

// This is a hack until we have lowercased text within "smallCaps" 
// marked tags across the site. see issue #198
.SmallCaps,
.tei_hi_rend_smallCaps,
.tei-hi-rend-smallcaps {
  text-transform: lowercase;  
  font-variant: small-caps;
}

.tei-sic {
 
  
}

.tei-sic-ed {
    background-color: $banana-mania;
  }

// .milestone {
//   border-top: solid 2px $platinum;
//   display: block;
// }

// figures

.inline-figure {
  border: solid 2px $platinum;
  margin: 1em 3em;
  text-align: center;
}

.tei-caption {}


// Page images

span.pageimage {
  border-bottom: 2px solid $platinum;
  border-left: 2px solid $platinum;
  border-right: 2px solid $platinum;
  clear: both;
  float: right;
  margin: 0 0 1em .5em;
  padding: 0;
  text-indent: 0;
}

.hr {
  border-top: 2px solid $platinum; 
  clear: right;
  display: block;
  height: 0;
  margin: 10px 0 0 0;
  padding: 0px 0 0 0;
  width: 100%;
}


.pageimage img {
  background-color: $platinum;
  min-height: 80px;
  min-width: 80px;
}

// letters

.tei-dateline {
  display: block;
}

.tei-opener {
  span + .tei-dateline {
    margin-top: 2rem;
  }
  
  .tei-dateline + .tei-salute {
    margin-top: 2rem;
  }
}



// From Whitman
// =====

// Editorial Marks

.tei-ref-target, .internal-link.tei-ptr {
  vertical-align: super;
  font-size: 1em;
}

.editorial-note {
  display: block;
}

.archive-item {
  .tei-note-type-editorial {
    display: block;
    margin: 1.5em 0;
    
    p {
      text-indent: 0;
    }
  }
}

// Quotes

/*  q in TEI */
.tei-q {
  display: block;
  margin: .5em 0;
  padding: .5em 4em .5em 4em;
}

.tei_floatingText .tei_lg,
.tei-floatingText .tei-p {
  font-size: .9em;
  margin-left: 3.3em;
}

// Poems

.inline_quote .tei_q,
.tei_floatingText,
.tei_lg_type_poem,
.tei_lg,
.tei_lg_type_linegroup,
.tei-l {
  display: block;
}

/* correspondence */

.category-correspondence {
  .tei-subst-rend-overwrite {
    .tei-del, .tei-add {
      color: $overwrite_color;
    }
  }
// adding a wavy line to add and del, only 

  .tei-del, .tei-add {
    border-bottom: 2px dotted $overwrite_color;
    text-decoration-thickness: 2px;
  }
}

.tei-salute {
  display: block;
  margin: .5em 0;
}

.tei_name_type_place, 
.tei_signed,
.tei-addrline {
  display: block;
}

.tei-address {
  display: block;
  margin-top: 1.5em;
}

.tei_addrLine, 
.tei-address {
  display: block;
}

/* Manuscripts */

.tei-subst-rend-overwrite {
  del, .tei-add {
    color: $overwrite_color;
  }
}

.tei-add-place-inline {
}

.unclear,
.tei-gap-reason-illegible {
  color: #aaa;
}

/* Will need to discuss if we want to keep this, 
it is not supported in all browsers 
see https://whitman-dev.unl.edu/manuscripts/transcriptions/yal.00002.html */
.tei-del-rend-overstrike sup {
  display:inline-block;
  font-size: 1em;
  padding-left: 0em;
  text-decoration-skip-ink: none; 
  text-decoration-skip: none;
  text-decoration: underline;
  text-indent: 0em;
  text-underline-offset: -.3em;
}

.tei-milestone-unit-glued {
  color: #939393;
  margin: .5em;
  text-align: center;
}

.inline-tei-rend-insertion {
  vertical-align: sub; /* prevents triangle formation */
}

.tei-add-place-infralinear {
  vertical-align: sub;
}

.tei-hashmark-title {
  text-align: center;
  margin: .5em 0;
}

.tei-delSpan-rend-hashmark {
  background-color: #CCCCCC;
  padding: .5em;
}

/* not sure if these stylings are manuscript specific */
.tei_list_type_simple,
.tei-list-rend-simple {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
}

.tei-lb {
  display: block;
}

// Experimental code for list of characters on ccda.works00060

// this code broke list display on proof00003, so commenting out for now

// @media (min-width: $screen-sm-min) {
//   .tei-list-rend-simple li {
//     display: flex;
//     .tei-ab-rend-double-height {
//       margin: 0;
//       padding: 0;
//     }
//   }

//   .tei-ab-rend-double-height {
//     margin-left: .5em;
//     display: flex;
//     align-items: center;
//     height: 3em;
//   }
// }

/* marginalia */

.tei-titlePage {
  display:block;
  margin: 1em 0;
}

// todo: karin look at this
// commented out, was causing weird display
// .tei-note-type-authorial span {
//   background-color: $gold-metallic;
//   border: double 3px blue;
//   border-right: none;
//   border-left: none;
//   display: inline;
// }

// .tei_dateline
.tei-note-place-right {
  display: block;
  text-align: right;
}

.tei-note-type-authorial {
  margin: .5em 0 1em 0;
  display: block;
}

.tei-titlePart-type-main {
  display: block;
  font-weight: 800;
  margin: .5em 0 1em 0;
}

.tei-milestone-rend-horbar-short-center {
  width: 6em;
  margin: 1em auto;
}

.tei-pubPlace {
  display: block;
}


// Hand CSS
// limiting Chesnutt's hand to manuscripts
.category-manuscripts {
  .tei-hand-resp-cwc {
    border-bottom: double 3px $brand-success;
  }
}
// .tei-hand-medium-black-pen {
//   background-color: red;
// }


.tei-note-type-authorial {}
.tei-note-place-margin-bottom {}


// karin added

.margin-bottom-note {
  font-size: .9em;
  margin: .2em 0 .7em 0;
}

.tei_metamark,
.tei-del-rend-closeup {
  background-color: rgba(194,218,217,1);
  border: solid $dark-purple 1px;
  display: inline;
}

.tei-metamark {
  padding: 1px 3px 0px 3px;
}

.tei-del-rend-closeup {
  padding-left: 3px;
  &:before {
    // added metamark &#8272;
    content: "⁐";
  }
}

.tei-del {
  text-decoration: line-through;
}

del {
  text-decoration: none;

  &.tei_del_rend_overstrike,
  &.tei-del-rend-strikethrough {
    text-decoration: line-through;
  }
}

.tei_del_rend_overstrike,
.tei_del_rend_strikethrough,
.tei_hi_rend_overstrike,
.tei-hi-rend-strikethrough {
  text-decoration: line-through;
}

.tei-subst-rend-overwrite {
  del {
    text-decoration: line-through;
  }
}



.‹‹ {
  width: 50%;
  border-top: solid 3px black;
  display: block;
  text-align: center;
  margin: .3em auto;
}

.tei-p-rend-center {
  text-align: center;
}

.tei-p-rend-right {
  text-align: right;
}

.tei-hi-rend-tripleUnderline {
  border-bottom: double 6px black;
  text-decoration: underline;
  text-decoration-thickness: 0.11em;
}

.tei-hi-rend-doubleUnderline {
  border-bottom: double 6px black;
}

.bibliography_books .tei_bibl,
.bibliography_short_stories .tei_bibl,
.bibliography_poems .tei_bibl,
.bibliography_essays_articles .tei_bibl,
.bibliography_miscellaneous .tei_bibl
 {
  margin-left: 3em;
  display: block;
  padding-left: 3em;
  text-indent: -3em;
  .tei-note {
    padding: 0 .3em;
    display: inline;
    text-indent: 0;
  }
}

.bibliography-indent {
    padding-left: 3em;
}

//subheads
.tei-head-type-sub {
  font-size: 1.2em;
}

// Facsimile/Figure
// This code was added for readers reports but will apply to all figures

.tei-facsimile {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tei-facsimile .hr {
  display: none;
}

.tei-facsimile .pageimage {
  float: none;
}
