<nav class="letter-navigation">

      <div class="letter-navigation-previous">
      <% if @res["previous_item_id_k"] %>
         <a href="<%= @res["previous_item_id_k"] %>">
                Previous letter in chain
              </a>
              <% else %>
              Previous letter in chain
              <% end %>
      </div>
  

     
      <div class="letter-navigation-next">
      <% if @res["next_item_id_k"] %>
         <a href="<%= @res["next_item_id_k"] %>">
                Next letter in chain
              </a>
               <% else %>
               Next letter in chain
                <% end %>
      </div>
   </nav>
   
