<div class="metadata">
  <%= link_to "See more information about this item", "#more-metadata",
    class: "btn btn-default pull-right" %>

  <% if @res["category"].blank? %>
    This item does not have a "category" in its metadata
  <% else %>
    <% if @res["category"] == "Manuscripts" %>
      Manuscripts Metadata
    <% elsif @res["category"] == "Works" %>
      <% if @res["subcategory"].blank? %>
        This item does not have a "subcategory" in its metadata
      <% else %>
        <% if @res["subcategory"] == "Essays" ||
              @res["subcategory"] == "Stories" %>
          Essays / Stories Metadata
        <% elsif @res["subcategory"] == "Novel" %>
          Novel Metadata
        <% else %>
          There is no metadata template for this Works subcategory:
          <%= @res["subcategory"] %>
        <% end %>
      <% end %>
    <% else %>
      There is no metadata template for this item's category:
      <%= @res["category"] %>
    <% end %>
  <% end %>
</div>
