<div class="panel-group key" id="about_accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a  class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Key
        </a>
      </h4>
    </div><%# /panel-heading %>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <table class="table">
               <thead>
                  <tr>
                     <th scope="col">Textual Feature</th>
                     <th scope="col">Appearance</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>marking in Chesnutt's hand</td>
                     <td><span class="tei-hand-resp-cwc">Chesnutt's hand</span></td>
                  </tr>
                  <tr>
                     <td>proofreading mark or authorial note</td>
                     <td><span class="tei-metamark tei-metamark-function-delete tei-metamark-target-#d001">ϑ</span> <span class="tei-note-demo">note</span></td>
                  </tr>
                  <tr>
                     <td>passage deleted with a strikethrough mark</td>
                     <td><del class="tei-del-rend-strikethrough">deleted passage</del></td>
                  </tr>
                  <tr>
                     <td>text added in the margin</td>
                     <td>[right margin] text in right margin; [left margin] text in left margin</td>
                  </tr>
                  <tr>
                     <td>passage deleted by overwritten added text</td>
                     <td>
                     <span class="tei-subst tei-hand-medium-black-ink  tei-subst-rend-overwrite"><del>Deleted text</del> <span class="tei-add">Added text</span></span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                     transposed text
                     </td>
                     <td>
                     text, <span class="tei-seg tei-seg-xml:id-t014">text to be transposed</span> <span class="tei-seg tei-seg-xml:id-t013">other text to be transposed</span>
                     </td>
                  </tr>
                  <tr>
                     <td>corrected text</td>
                     <td><abbr title="corrected text"><span class="tei-sic">original text</span></abbr> <span class="tei-sic-ed">[sic]</span></td>
                  </tr>
                  <tr>
                     <td>supplied text</td>
                     <td><span class="tei-sic-ed">[supplied text]</span></td>
                  </tr>
                  <tr>
                     <td>
                     circled text
                     </td>
                     <td>
                        <span class="tei-hi-rend-circled">circled text</span>
                     </td>
                  </tr>
               </tbody>
            </table>
      </div><%# /panel-body %>
    </div><%# /panel-collapse %>
  </div><%# /panel %>
</div><%# /panel-group %>
