<div class="key">

<div class="collapse in" id="transcription_guide" aria-expanded="true" style="">
         <div class="well">
            <h4>Key</h4>
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">Textual Feature</th>
                     <th scope="col">Appearance</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>passage deleted with a strikethrough mark</td>
                     <td><del class="tei_del_rend_strikethrough">deleted passage</del></td>
                  </tr>
                  <tr>
                     <td>passage deleted by overwritten added letters</td>
                     <td><del class="tei_supplied">overwritten passage</del></td>
                  </tr>
                  <tr>
                     <td>metamark</td>
                     <td><span class="tei_metamark tei_metamark_function_delete tei_metamark_target_#d001">ϑ</span></td>
                  </tr>
                  <tr>
                     <td>note</td>
                     <td><span class="tei_note">note</span></td>
                  </tr>
                  <tr>
                     <td>passage in Chesnutt's hand</td>
                     <td>passage in <span class="tei_hand_resp_cwc">Chesnutt's hand</span></td>
                  </tr>
                  <tr>
                     <td>passage added in the margin</td>
                     <td>passage in [right margin] right margin, passage in [left margin] left margin.</td>
                  </tr>
                  <tr>
                     <td>overwrite</td>
                     <td><span class="tei_subst_rend_overwrite">overwrite</span></td>
                  </tr>
                  
               </tbody>
            </table>
         </div>
      </div>

</div>
