<div class="panel-group key" id="about-accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Key
        </a>
      </h4>
    </div><%# /panel-heading %>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <table class="table">
               <thead>
                  <tr>
                     <th scope="col">Textual Feature</th>
                     <th scope="col">Appearance or explanation</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>passage deleted with a strikethrough mark</td>
                     <td><del class="tei_del_rend_strikethrough">deleted passage</del></td>
                  </tr>
                  <tr>
                     <td>text added in the margin</td>
                     <td>[right margin] text in right margin; [left margin] text in left margin</td>
                  </tr>
                  <tr>
                     <td>supplied text</td>
                     <td><span class="tei_sic_ed">[supplied text]</span></td>
                  </tr>
                  <tr>
                     <td>
                     archival text
                     </td>
                     <td>
                        <span class="tei_note_type_archival">archival text</span>
                     </td>
                  </tr>
                  <tr>
                     <td>note on classcode</td>
                     <td>
                     <span>Text explaining what the classcode means</span>
                     </td>
                  </tr>
               </tbody>
            </table>
      </div><%# /panel-body %>
    </div><%# /panel-collapse %>
  </div><%# /panel %>
</div><%# /panel-group %>
