<div class="key">

<div class="collapse in" id="transcription_guide" aria-expanded="true" style="">
         <div class="well">
            <h4>Key</h4>
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">Textual Feature</th>
                     <th scope="col">Appearance</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>marking in Chesnutt's hand</td>
                     <td><span class="tei_hand_resp_cwc">Chesnutt's hand</span></td>
                  </tr>
                  <tr>
                     <td>proofreading mark or authorial note</td>
                     <td><span class="tei_metamark tei_metamark_function_delete tei_metamark_target_#d001">ϑ</span> <span class="tei_note_demo">note</span></td>
                  </tr>
                  <tr>
                     <td>passage deleted with a strikethrough mark</td>
                     <td><del class="tei_del_rend_strikethrough">deleted passage</del></td>
                  </tr>
                  <tr>
                     <td>text added in the margin</td>
                     <td>[right margin] text in right margin; [left margin] text in left margin</td>
                  </tr>
                  <tr>
                     <td>passage deleted by overwritten added text</td>
                     <td>
                     <span class="tei_subst tei_hand_medium_black_ink  tei_subst_rend_overwrite"><del>Deleted text</del> <span class="tei_add">Added text</span></span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                     transposed text
                     </td>
                     <td>
                     text, <span class="tei_seg tei_seg_xml:id_t014">text to be transposed</span> <span class="tei_seg tei_seg_xml:id_t013">other text to be transposed</span>
                     </td>
                  </tr>
                  <tr>
                     <td>supplied text</td>
                     <td><abbr title="standardized text"><span class="tei_sic">original text</span></abbr> <span class="tei_sic_ed">[sic]</span></td>
                  </tr>
                  <tr>
                     <td>
                     circled text
                     </td>
                     <td>
                        <span class="tei_hi_rend_circled">circled text</span>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>

</div>
