<%# overridden from orchid to add assets %>

<% @ext_css = [ "datatables.min" ] %>
<% @ext_js = [ "datatables.min", "corresp_catalog_datatables" ] %>

<%# for instructions about how to use the search preset feature, please refer
to docs/search_preset.md %>

<%# provide the following:
  - @res : API response object ($api.query(options))
  - @route_path : string representing route used to call this template ("image_gallery_path")
  - @content_label : OPTIONAL overrides @title for h1
  - @preset_class : OPTIONAL adds CSS class on <div>
%>

<h1>Correspondence Catalog</h1>

<p>Below is a catalog of all known correspondence to or from Charles W. Chesnutt, including draft letters—a resource which did not previously exist in Chesnutt scholarship. This catalog will be updated as new letters are discovered, and users are encouraged to <a href="mailto:browners@newschool.edu;matt.cohen@unl.edu;kprice2@unl.edu">contact the project editors</a> if they are aware of a letter not represented here.</p> 

<p>The current location of some letters is unknown and we are aware of their existence only through references in secondary sources. Approximately 120 letters are known only by their reprinting, in part or in full, in Helen M. Chesnutt's biography of her father, <em>Charles Wadell Chesnutt: Pioneer of the Color Line</em> (Chapel Hill: University of North Carolina Press, 1952); the source of these letters is listed as <em>Pioneer of the Color Line</em>, along with the page number.</p>
<br/>

<%= render_overridable("show_content") %>
