</div>

<div class="page_banner_outer">
  <div class="container">
    

    <div class="test_home_banner_text" style="width: 50%; float:left; clear: left; background-color: rgba(255,255,255,.8); padding: 10px;"><h1 style="">Reception</h1>
      <p>This section offers the most complete collection of contemporary reviews of Chesnutt to be found anywhere. We will supplement this collection further as more reviews are located, and we are grateful when users alert us to missing items.</p>
      
        <p>During his lifetime, Chesnutt's works earned publication notices and reviews in a wide variety of newspapers and magazines. Our collection includes reviews published in city newspapers and regional magazines, and national outlets. The collection includes materials from the African American press as well as the White press.</p>
      
        <p>In the late 1990s John M. Freiermuth, then a graduate student in the Department of English, University of North Carolina, Greensboro, collected a large batch of reviews and offered them to Stephanie Browner for the initial version of the Chesnutt Archive. Since then many more reviews have been located thanks to the increasing availability of historic periodicals through online databases. Samantha Gilmore of the University of Nebraska-Lincoln has led the effort to discover more reviews, an effort that has vastly increased our ability to study Chesnutt’s early reception.</p>

    </div>

    <div class="page_banner_illustration">
    </div>
  </div>

  

</div>

<div class="container">

  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>