</div><%# close container div for full width  %>

<div class="page_banner_outer">
  <div class="container">
    <div class="page_banner_text"><h1 style="">Resources</h1>
      <p>The centerpiece of our resources section is a regularly updated bibliography of Chesnutt's published works, from his lifetime to the present. The "Criticism" sub-section will contain full text of and links to a selection of available scholarship on Chesnutt, which we hope to greatly expand. This "Resources" section also features a link to our project's official Twitter account, as well as the website of the Charles W. Chesnutt Association.</p> 
      
      <p>In the future, we expect to add links to libraries holding Chesnutt manuscripts; a list of reviews of Chesnutt works; and a list of reprintings of his short stories.</p>
    </div>
    <div class="page_banner_illustration">
      <div class="page_banner_illustration_inner">
        
      </div>
    </div>
  </div>
</div>

<div class="container"><%# reopen container div %>

<h2>Bibliography</h2>

  <p>This bibliography lists all of Chesnutt's published works from his lifetime to the present, complete with known reprint information. The list also includes posthumous collections of his stories, letters, speeches, and other writings. The list is regularly updated, and we are grateful when users <a href="mailto: kprice2@unl.edu;browners@newschool.edu;matt.cohen@unl.edu">alert us</a> to missing or incorrectly listed items.</p>

<div>
  <%= link_to "Bibliography", resources_bibliography_path %>
</div>
  <br/>

<h2>Criticism</h2>

  <p>This growing section of the <em>Archive</em> will contain the full text of or links to a selection of available scholarship on Chesnutt. Those interested in granting access to their scholarship are encouraged to <a href="mailto: kprice2@unl.edu;browners@newschool.edu;matt.cohen@unl.edu">contact the project co-editors</a>.</p>
  
<div>
  <ul>
    <li>Stephanie P. Browner and Kenneth M. Price, "Charles Chesnutt and the case for hybrid editing," <em>International Journal of Digital Humanities</em> 1, no. 2 (July 2019): 165-178. <%= link_to "PDF", asset_path("pdf/chesnutt_hybrid_editing.pdf", skip_pipeline: true) %></li>
  </ul>
</div>
  <br/>
  
  <h2>Links</h2>
  
  <div>
    <ul>
      <li><a href="https://twitter.com/chesnuttarchive?lang=en">Official Twitter account of the <em>Charles W. Chesnutt Archive</em></a></li>
      <li><a href="https://chesnuttassociation.org/" rel="external">The Charles W. Chesnutt Association</a></li>
    </ul>
    <br/>
    <br/>
  </div>