</div><%# close container div for full width  %>

<div class="page_banner_outer">
  <div class="container">
    <div class="page_banner_text"><h1 style="">Resources</h1>
      <p>The centerpiece of our resources section is a regularly updated bibliography of Chesnutt's published works, from his lifetime to the present. The "Criticism" sub-section will contain full-text of and links to a selection of available scholarship on Chesnutt, which we hope to greatly expand. This "Resources" section also features a link to the website of the Charles W. Chesnutt Association.</p> 
      
      <p>In the future, we expect to add links to libraries holding Chesnutt manuscripts; a list of reviews of Chesnutt works; and a list of reprintings of his short stories.</p>
    </div>
    <div class="page_banner_illustration">
      <div class="page_banner_illustration_inner">
        
      </div>
    </div>
  </div>
</div>

<div class="container"><%# reopen container div %>

<h2>Bibliography</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mi est, viverra lacinia orci a, faucibus dignissim urna. Morbi laoreet neque et turpis bibendum, in faucibus velit mattis. Nulla id lacus sit amet nunc lobortis condimentum ut quis metus. Suspendisse arcu quam, auctor eget leo eget, rutrum tempor nibh. Nunc non vestibulum nisi. Ut dictum sem nec cursus facilisis. Phasellus nec porta sapien, sit amet faucibus turpis. </p>

<div>
  <%= link_to "Bibliography", resources_bibliography_path %>
</div>

<h2>Links</h2>

<div>
  <a href="https://chesnuttassociation.org/" rel="external">The Charles W. Chesnutt Association</a>
</div>

<h2>Criticism</h2>

<div>
  <a href="#">Link to PDF</a>
</div>