<h1>Bibliography</h1>

<div class="archive_item subcat_bibliography cat_resources">


<div class="bibliography_books">
<h3 class="tei_head">Books:</h3>

<div class="section">
<h4 class="tei_head">The Conjure Woman</h4>

<div class="tei_bibl"><em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em>. Boston and New York: Houghton Mifflin, 1899. 294 pp.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em>. London: Gay &amp; Bird, 1899.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em>. Cambridge, MA: The Riverside Press, 1899. (150 copies printed.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em>. 1899. (Large-paper edition with a colophon.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em>. Boston: Houghton Mifflin, 1928. (Reprinted.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em>. Ridgewood, NJ: Gregg Press, 1968.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em>. Ann Arbor: University of Michigan Press, 1969. (Introduction by Robert M. Farnsworth.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em>. St. Clair Shores, MI: Scholarly Press, 1977.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em>. Darby, PA: Arden Library, 1978.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em>. Tokyo: Honnotomosha, 1997.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em>.<em class="tei_foreign">Der verwunschene Weinberg. Sklavenmarchen aus Nordamerika</em>, trans. Monika Plessner. Frankfurt: Insel, 1979.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em><em class="tei_foreign">Die Zauberfrau: Sklavenmärchen aus North Carolina</em>, trans. Christiane Agricola. Leipzig and Weimar: Kiepenheuer, 1989. (Afterword by Horst Ihde.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em><em class="tei_foreign">Sklavenmarchen aus Nordamerika</em>, trans. by Monika Plessner. Frankfurt: Insel-Verl, 1991.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em><em class="tei_foreign">Die Zauberfrau: Sklavenmärchen aus North Carolina</em>, trans. by Christiane Agricola. Hanau, DEU: Muller und Kiepenheuer, 1993. (Afterword by Horst Ihde.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em>. New York: Dutton, 1973. (As retold by Ray Anthony Shephard.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em>. London: Collins, 1975. (As retold by Ray Anthony Shephard.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em>. New York: Dell, 1978. (As retold by Ray Anthony Shephard.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em>. Edited by Richard H. Brodhead. Durham and London: Duke University Press, 1993. 207 pp. (Expanded as <em>The Conjure Woman and Other Conjure Tales</em>.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em>. Chicago: Library Resources. Text-fiche. (Includes "The Conjurer's Revenge," reprinted from the <em>Overland</em> monthly.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Conjure Woman</em>. Microfilm, Michigan University, Ann Arbor. (Includes "The Conjurer's Revenge," reprinted from the <em>Overland></em> monthly.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">The Wife of His Youth and Other Stories of the Color Line</span></h4>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Wife of His Youth and Other Stories of the Color Line</em>. Boston: Houghton Mifflin, 1899.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Wife of His Youth and Other Stories of the Color Line</em>. Ridgewood, NJ: Gregg Press, 1967. 323 pp. (Reprinted.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Wife of His Youth and Other Stories of the Color Line</em>. Ann Arbor: University of Michigan Press, 1968. 323 pp.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Wife of His Youth and Other Stories of the Color Line</em>. New York: Irvington Press, 1976.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Wife of His Youth and Other Stories of the Color Line</em>. St. Clair Shores, MI: Scholarly Press, 1977.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Wife of His Youth and Other Stories of the Color Line</em>. Tokyo: Honnotomosha, 1997.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Wife of His Youth and Other Stories of the Color Line</em>. Microfilm, Michigan University, Ann Arbor, 1967.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Wife of His Youth and Other Stories of the Color Line</em>. Louisville: Lost Cause Press. Text-fiche.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Blue Vein Society</em>, a play based on <em class="tei_title tei_title_level_m tei_title_type_main">The Wife of His Youth</em>, dir. Samuel Lawrence Kelley of Samuel Lawrence Kelley Plays, St. Clair Shores, MI: Scholarly Press, 1982. (Produced by two companies, once in 1982 and once in 1989.)</div>

</div>

<div class="section">
<h4 class="tei_head">Frederick Douglass</h4>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Frederick Douglass</em>. Beacon Biographies of Eminent Americans. Edited by M.A. deWolfe Howe. Boston: Small, Maynard &amp; Co., 1899.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Frederick Douglass</em>. London: Kegan Paul, 1899. 141 pp.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Frederick Douglass</em>. Boston: Small, Maynard &amp; Co., 1904. (Reprinted.)</div>

<div class="tei_bibl">
<em class="tei_title">Frederick Douglass</em>. Boston: Small, Maynard &amp; Co., 1912. (Reprinted.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Frederick Douglass</em>. New York: Johnson Reprints, 1970.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Frederick Douglass</em>. St. Clair Shores, MI: Scholarly Press, 1977.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Frederick Douglass</em>. Microfilm, Michigan University, Ann Arbor.</div>

</div>

<div class="section">

<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">The House Behind the Cedars</span></h4>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The House Behind the Cedars</em>. Boston and New York: Houghton Mifflin, 1900. 294 pp.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The House Behind the Cedars</em>. <em>Self-Culture Magazine</em>, no. XI-XII (1900-1901). (Serialized, starting with volume XI in August 1900 and ending with volume XII in February 1901.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The House Behind the Cedars</em>. <em>Chicago Defender</em> (Chicago, IL), October 29, 1921-March 4, 1922. (Serialized.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The House Behind the Cedars</em>. Boston and New York: Houghton Mifflin, 1902. (Reprinted.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The House Behind the Cedars</em>. Cambridge, MA: The Riverside Press, 1902.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The House Behind the Cedars</em>. Ridgewood, NJ: Gregg Press, 1968.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The House Behind the Cedars</em>. New York: Collier Macmillan, 1969.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The House Behind the Cedars</em>. London and Athens: University of Georgia Press, 1988. 294 pp. (Foreword by William L. Andrews.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The House Behind the Cedars</em>. New York and Hamondsworth: Penguin, 1993. 195 pp. (Introduction by Donald B. Gibson.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The House Behind the Cedars</em>. London: The X Press, 1995. 185 pp.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The House Behind the Cedars</em>. Tokyo: Honnotomosha, 1997.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The House Behind the Cedars</em>. New Brunswick, NJ: Transaction Publishers, 1999.</div>

<div class="tei_bibl">
Micheaux, Oscar, dir. <em class="tei_title tei_title_level_m tei_title_type_main">Veiled Aristocrats</em>, adapted from <em>The House Behind the Cedars</em> (1932).</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The House Behind the Cedars</em>. Boston and New York: Houghton Mifflin, 1900. 294 pp.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The House Behind the Cedars</em>. Microfilm, Michigan University, Ann Arbor.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The House Behind the Cedars</em>. Louisville: Lost Cause Press. Text-fiche.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">The Marrow of Tradition</span></h4>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Marrow of Tradition</em>. Boston: Houghton Mifflin, 1901. 329 pp.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Marrow of Tradition</em>. Upper Saddle River, NJ: Gregg Press, 1968. (Reprinted.)</div>

<div class="tei_bibl">
<em class="tei_title">The Marrow of Tradition</em>. Ann Arbor: University of Michigan Press, 1969.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Marrow of Tradition</em>. Miami: Mnemosyne Press, 1969. (Introduction by Robert M. Farnsworth.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Marrow of Tradition</em>. New York: Arno Press, 1969. 329 pp.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Marrow of Tradition</em>. New York: AMS Press, 1972. 392 pp.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Marrow of Tradition</em>. New York: Irvington Press, 1977.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Marrow of Tradition</em>. St. Clair Shores, MI: Scholarly Press, 1977.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Marrow of Tradition</em>. Boston: Dynamic Learn Corporation, 1978.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Marrow of Tradition</em>. Ann Arbor: University of Michigan Press, 1979. (Introduction by Robert M. Farnsworth.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Marrow of Tradition</em>. Edited by Eric J. Sundquist. New York: Penguin, 1993. 346 pp.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Marrow of Tradition</em>. Tokyo: Honnotomosha, 1997.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Marrow of Tradition</em>. New Brunswick, NJ: Transaction Publishers, 1999.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Tradition</em>. Black Classics. London: The X Press, 1994.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Marrow of Tradition</em>. Edited by Henry Louis Gates, Jr. Three Classic African-American Novels. New York: Vantage Books, 1990.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Marrow of Tradition</em>. The African-American Novel in the Age of Reaction: Three Classics. New York: Penguin, 1992. (Introduction by William L. Andrews.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">The Colonel's Dream</span></h4>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Colonel's Dream</em>. New York: Doubleday, Page, &amp; Co., 1905. 294 pp.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Colonel's Dream</em>. London: A. Constable, 1905.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Colonel's Dream</em>. Upper Saddle River, NJ: Gregg Press, 1968. 294 pp. (Reprinted.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Colonel's Dream</em>. Ann Arbor: University of Michigan Press, 1969. (Introduction by Robert M. Farnsworth.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Colonel's Dream</em>. Miami: Mnemosyne Press, 1969.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Colonel's Dream</em>. New York: Arno Press, 1969.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Colonel's Dream</em>. Westport, CT: Negro Universities Press, 1970. 294 pp.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Colonel's Dream</em>. New York: Books for Libraries, Inc., 1971.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Colonel's Dream</em>. New York: Irvington Press, 1977.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Colonel's Dream</em>. St. Clair Shores, MI: Scholarly Press, 1977.</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Colonel's Dream</em>. Tokyo: Honnotomosha, 1997.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">Baxter's Procrustes</span></h4>
  
<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Baxter's Procrustes</em>. Cleveland: The Rowfant Club, 1966. (Includes biographical essay about Chesnutt by John B. Nichols, Jr.; 180 copies printed.)</div>

</div>

<div class="section">

<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">Charles W. Chesnutt: Works, 1895-1905</span></h4>
  
<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Charles W. Chesnutt: Works, 1895-1905</em>. Microfilm, 3M International Microfilm Press, New York, 1972. (Includes the Schomburg Collection of the New York Public Library. Contents:[1] <em>Frederick Douglas</em>. New York, 1899 - [2] <em>The Wife of His Youth; and Other Stories of the Color Line</em>. Boston 1899 - [3] <em>The Conjure Woman</em>. Boston, 1899 - [4] <em>The Marrow of Tradition</em>. Boston, 1901 - [5] <em>A Defamer of His Race</em>, in <em>The Critic</em>. April, 1901 - [6] <em>The Disfranchisement of the Negro</em>, in <em>The Negro Problem</em>, 1903 - [7] <em>The Colonel's Dream</em>. New York, 1905.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">Charles W. Chesnutt Papers (Microform) 1891-1932</span></h4>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Charles W. Chesnutt Papers 1891-1932</em>. Edited by Olivia J. Martin. Microform, Ohio Historical Society, Columbus, 1972. (Available through the Western Reserve Historical Society.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">The Short Fiction of Charles W. Chesnutt</span></h4>
  
<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Short Fiction of Charles W. Chesnutt</em>. Edited by Sylvia Lyons Render. Washington, DC: Howard University Press, 1974. 422 pp. (Hardback.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Short Fiction of Charles W. Chesnutt</em>. Edited by Sylvia Lyons Render. Washington, DC: Howard University Press, 1981. 428 pp. (Paperback.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">Who and Why Was Samuel Johnson</span></h4>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Who and Why Was Samuel Johnson</em>. Edited by Robert A. Tibbetts. Akron: Northern Ohio Bibliophilic Society, 1991. 19 pp. (450 copies printed.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">Collected Stories of Charles W. Chesnutt</span></h4>
  
<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Collected Stories of Charles W. Chesnutt</em>. Edited by William L. Andrews. New York: Mentor Books, 1992.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">The Journals of Charles Chesnutt</span></h4>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Journals of Charles Chesnutt</em>. Edited by Richard Brodhead. London and Durham: Duke University Press, 1993. 185 pp.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">Mandy Oxendine: A Novel</span></h4>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Mandy Oxendine: A Novel</em>. Edited by Charles Hackenberry. Urbana: University of Illinois Press, 1997. 112 pp.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"To Be an Author": Letters of Charles W. Chesnutt, 1889-1905</span></h4>
  
<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">"To Be an Author": Letters of Charles W. Chesnutt, 1889-1905</em>. Edited by Joseph R. McElrath, Jr. and Robert C. Leitz. Princeton and Chichester: Princeton University Press, 1997. 248 pp.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">Tales of Conjure and the Color Line: 10 Stories</span></h4>
  
<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Tales of Conjure and the Color Line: 10 Stories</em>. Edited by Joan R. Sherman. Mineola, NY: Dover Publications, Inc., 1998. 117 pp.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">Paul Marchand, F.M.C.</span></h4>
  
<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Paul Marchand, F.M.C.</em>. Jackson: University Press of Mississippi, 1998. 144 pp. (Introduced by Matthew Wilson.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Paul Marchand, F.M.C.</em>. Edited by Dean McWilliams. Princeton: Princeton University Press, 1999. 192 pp.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">The Quarry</span></h4>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Quarry</em>. Edited by Dean McWilliams. Princeton: Princeton University Press, 1999. 298 pp.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">Charles W. Chesnutt: Essays and Speeches</span></h4>
  
<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Charles W. Chesnutt: Essays and Speeches</em>. Edited by Joseph R. McElrath, Robert C. Leitz III, and Jesse S. Crisler. Stanford: Stanford University Press, 1999. 596 pp. (With illustrations.)</div>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Charles W. Chesnutt: Essays and Speeches</em>. Edited by Joseph R. McElrath, Robert C. Leitz III, and Jesse S. Crisler. Cambridge, ENG: Cambridge University Press, 1999. 596 pp. (With illustrations.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">Charles W. Chesnutt: Critical Essays</span></h4>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">Charles W. Chesnutt: Critical Essays</em>. Edited by Joseph R. McElrath, et al. New York: G. K. Hall, 1999.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">The Northern Stories of Charles W. Chesnutt</span></h4>

<div class="tei_bibl">
<em class="tei_title tei_title_level_m tei_title_type_main">The Northern Stories of Charles W. Chesnutt</em>. Edited by Charles Duncan. Athens: Ohio University Press, 2004. 262 pp.</div>
  
</div>

</div>

<div class="bibliography_short_stories">
<h3 class="tei_head"><span class="tei_hi tei_hi_rend_bold">Short Stories:</span></h3>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Appreciation"</span></h4>

<div class="tei_bibl">
"Appreciation." <em>Puck</em>, April 20, 1887. 128.</div>

<div class="tei_bibl">
"Appreciation." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 64-65. (Reprinted.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Aunt Lucy's Search"</span></h4>

<div class="tei_bibl">
"Aunt Lucy's Search." <em>Family Fiction</em>, April 16, 1887. (CC.)</div>

<div class="tei_bibl">
"Aunt Lucy's Search." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 209-213. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Aunt Mimy's Son"</span></h4>

<div class="tei_bibl">
"Aunt Mimy's Son." <em>Youth's Companion</em>, March 1, 1900. 104-105.</div>

<div class="tei_bibl">
"Aunt Mimy's Son." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 202-208. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Averted Strike"</span></h4>

<div class="tei_bibl">
"The Averted Strike." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 383-390.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Bad Night"</span></h4>

<div class="tei_bibl">
"A Bad Night." <em>Atlanta Constitution</em> (Atlanta, GA), August 2, 1886. 5.</div>

<div class="tei_bibl">
"A Bad Night." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 271-278.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Baxter's Procrustes"</span></h4>

<div class="tei_bibl">
"Baxter's Procrustes." <em>Atlantic Monthly</em>, June 1904. 823-830.</div>

<div class="tei_bibl">
"Baxter's Procrustes." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 413-422. (Reprinted.)</div>

<div class="tei_bibl">
"Baxter's Procrustes." <em>Collected Stories of Charles W. Chesnutt</em>. New York: Mentor Books, 1992. 266-278.</div>

<div class="tei_bibl">
"Baxter's Procrustes." <em>Tales of Conjure and the Color Line: 10 Stories</em>. Mineola, NY: Dover Publications, Inc., 1998. 98-108.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Bouquet"</span></h4>

<div class="tei_bibl">
"The Bouquet." <em>Atlantic Monthly</em>, November 1899. 648-654.</div>

<div class="tei_bibl">
"The Bouquet." <em>The Wife of His Youth</em>. Boston: Houghton Mifflin, 1899. (Reprinted.)</div>

<div class="tei_bibl">
"The Bunch of Yellow Roses." <em>Living Age</em>, April 7, 1900. 63-66.</div>

<div class="tei_bibl">
"The Bouquet." <em>North Carolina in the Short Story</em>. Edited by Richard Gaither Walser. Chapel Hill: University of North Carolina Press, 1948.</div>

<div class="tei_bibl">
"The Bouquet." <em>Collected Stories of Charles W. Chesnutt</em>. New York: Mentor Books, 1992. 238-248.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Busy Day in a Lawyer's Office"</span></h4>
  
<div class="tei_bibl">
"A Busy Day in a Lawyer's Office." <em>Tid-Bits</em>, January 15, 1887. (CC.)</div>

<div class="tei_bibl">
"A Busy Day in a Lawyer's Office." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 73-74. (Reprinted.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Cartwright's Mistake"</span></h4>

<div class="tei_bibl">
"Cartwright's Mistake." <em>Cleveland News and Herald</em> (Cleveland, OH), September 19, 1888. (CC.)</div>

<div class="tei_bibl">
"Cartwright's Mistake." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 315-320. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Cause Célèbre"</span></h4>

<div class="tei_bibl">
"A Cause Célèbre." <em>Puck</em>, January 14, 1891. 354.</div>

<div class="tei_bibl">
"A Cause Célèbre." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 68-69. (Reprinted.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">Cicely's Dream</span></h4>
  
<div class="tei_bibl">
"Cicely's Dream." <em>The Wife of His Youth and Other Stories of the Color Line</em>. Boston: Houghton Mifflin, 1899. 132-167.</div>

<div class="tei_bibl">
"Cicely's Dream." <em>Collected Stories of Charles W. Chesnutt</em>. New York: Mentor Books, 1992. 168-186. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Concerning Father"</span></h4>

<div class="tei_bibl">
"Concerning Father." <em>The Crisis</em>, May 1930. 153-155; 175.</div>

<div class="tei_bibl">
"Concerning Father." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 89-96.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Conjurer's Revenge"</span></h4>

<div class="tei_bibl">
"The Conjurer's Revenge." <em>Overland Monthly</em>, June 1889. 623-629.</div>

<div class="tei_bibl">
"The Conjurer's Revenge." <em>The Conjure Woman</em>. Boston and New York: Houghton Mifflin, 1899. 103-131. (Reprinted.)</div>

<div class="tei_bibl">
"The Conjurer's Revenge." <em>Collected Stories of Charles W. Chesnutt</em>. New York: Mentor Books, 1992. 89-101. (Reprinted.)</div>

<div class="tei_bibl">
"The Conjurer's Revenge." <em>The Conjure Woman and Other Conjure Tales</em>. Durham and London: Duke University Press, 1993. 70-81. (Reprinted.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Dave's Neckliss"</span></h4>

<div class="tei_bibl">
"Dave's Neckliss." <em>Atlantic Monthly</em>, October 1889. 500-508.</div>

<div class="tei_bibl">
"Dave's Neckliss." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 132-141. (Reprinted.)</div>

<div class="tei_bibl">
"Dave's Neckliss." <em>Collected Stories of Charles W. Chesnutt</em>. New York: Mentor Books, 1992. 89-101.</div>

<div class="tei_bibl">
"Dave's Neckliss." <em>The Conjure Woman and Other Conjure Tales</em>. Durham and London: Duke University Press, 1993. 123-135.</div>

<div class="tei_bibl">
"Dave's Neckliss." <em>Tales of Conjure and the Color Line: 10 Stories</em>. Mineola, NY: Dover Publications, Inc., 1998. 21-31.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Deep Sleeper"</span></h4>
  
<div class="tei_bibl">
"A Deep Sleeper." <em>Two Tales</em>, March 11, 1893. 1-8.</div>

<div class="tei_bibl">
"A Deep Sleeper." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 115-122. (Reprinted.)</div>

<div class="tei_bibl">
"A Deep Sleeper." <em>The Conjure Woman and Other Conjure Tales</em>. Durham and London: Duke University Press, 1993. 136-145.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Doctor's Wife"</span></h4>

<div class="tei_bibl">
"The Doctor's Wife." <em>Chicago Ledger</em>, June 1, 1887. (CC.)</div>

<div class="tei_bibl">
"The Doctor's Wife." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 279-282.</div>
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Doll"</span></h4>

<div class="tei_bibl">
"The Doll." <em>The Crisis</em>, April 1912. 248-252.</div>

<div class="tei_bibl">
"The Doll." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 405-412. (Reprinted.)</div>

<div class="tei_bibl">
"The Doll." <em>Tales of Conjure and the Color Line: 10 Stories</em>. Mineola, NY: Dover Publications, Inc., 1998. 109-117.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Doubtful Success"</span></h4>

<div class="tei_bibl">
"A Doubtful Success." <em>Cleveland News and Herald</em> (Cleveland, OH), February 17, 1888. (CC.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Dumb Witness"</span></h4>

<div class="tei_bibl">
"The Dumb Witness." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 153-163.</div>

<div class="tei_bibl">
"The Dumb Witness." <em>The Conjure Woman and Other Conjure Tales</em>. Durham and London: Duke University Press, 1993. 158-172. (Reprinted.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"An Eloquent Appeal"</span></h4>

<div class="tei_bibl">
"An Eloquent Appeal." <em>Puck</em>, June 6, 1888. 246.</div>

<div class="tei_bibl">
"An Eloquent Appeal." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 166-167. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"L'Epouse de sa Jeunesse"</span></h4>

<div class="tei_bibl">
"L'Espouse de sa Jeunesse." Translated by Marie Louise Preis. <em>Jour'nal de Geneve</em>, November 1910. (A French translation of <em>The Wife of His Youth</em>, serialized, starting with November 4, 1910 and ending on November 6, 1910.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Exception"</span></h4>
  
<div class="tei_bibl">
"The Exception." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 353-356.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Fall of Adam</span></h4>

<div class="tei_bibl">
"The Fall of Adam." <em>Family Fiction</em>, December 25, 1886. (CC.)</div>

<div class="tei_bibl">
"The Fall of Adam." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 177-182. (Reprinted.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Fatal Restriction"</span></h4>

<div class="tei_bibl">
"A Fatal Restriction." <em>Puck</em>, May 1, 1889. 166.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Frisk's First Rat"</span></h4>

<div class="tei_bibl">
"Frisk's First Rat." <em>Educator</em> (Fayetteville, NC), March 20, 1875.</div>

<div class="tei_bibl">
"Frisk's First Rat." <em>North Carolina Literary Review</em>, 1999. 87.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Fool's Paradise"</span></h4>

<div class="tei_bibl">
"A Fool's Paradise." <em>Family Fiction</em>, November 24, 1888. (CC.)</div>

<div class="tei_bibl">
"A Fool's Paradise." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 321-329. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Goophered Grapevine"</span></h4>

<div class="tei_bibl">
"The Goophered Grapevine." <em>Atlantic Monthly</em>, August 1887. 254-260.</div>

<div class="tei_bibl">
"The Goophered Grapevine." <em>The Conjure Woman</em>. Boston and New York: Houghton Mifflin, 1899. 1-35. (Reprinted.)</div>

<div class="tei_bibl">
"The Goophered Grapevine." <em>Famous American Stories: A Collection of Short Stories by Century American Authors</em>. Edited by Karl-Heinz Wirzerger. Berlin: Seven Seas Publishing, 1963.</div>

<div class="tei_bibl">
"The Goophered Grapevine." <em>Collected Stories of Charles W. Chesnutt</em>. New York: Mentor Books, 1992. 1-13.</div>

<div class="tei_bibl">
"The Goophered Grapevine." <em>The Conjure Woman and Other Conjure Tales</em>. Durham and London: Duke University Press, 1993. 31-43.</div>

<div class="tei_bibl">
"The Goophered Grapevine." <em>Tales of Conjure and the Color Line: 10 Stories</em>. Mineola, NY: Dover Publications, Inc., 1998. 1-11.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Grass Widow"</span></h4>
  
<div class="tei_bibl">
"A Grass Widow." <em>Family Fiction</em>, May 14, 1887. (CC.)</div>

<div class="tei_bibl">
"A Grass Widow." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 330-342. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Gratitude"</span></h4>

<div class="tei_bibl">
"Gratitude." <em>Puck</em>, December 26, 1888. 300.</div>

<div class="tei_bibl">
"Gratitude." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 62-63. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Gray Wolf's Ha'nt"</span></h4>

<div class="tei_bibl">
"The Gray Wolf's Ha'nt." <em>The Conjure Woman</em>. Boston and New York: Houghton Mifflin, 1899. 162-194.</div>

<div class="tei_bibl">
"The Gray Wolf's Ha'nt." <em>Collected Stories of Charles W. Chesnutt</em>. New York: Mentor Books, 1992. 63-75. (Reprinted.)</div>

<div class="tei_bibl">
"The Gray Wolf's Ha'nt." <em>The Conjure Woman and Other Conjure Tales</em>. Durham and London: Duke University Press, 1993. 94-106.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Her Virginia Mammy"</span></h4>

<div class="tei_bibl">
"Her Virginia Mammy." <em>The Wife of His Youth and Other Stories of the Color Line</em>. Boston: Houghton Mifflin, 1899. 25-59.</div>

<div class="tei_bibl">
"Her Virginia Mammy." <em>Collected Stories of Charles W. Chesnutt</em>. New York: Mentor Books, 1992. 114-131. (Reprinted.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Hot-Foot Hannibal"</span></h4>
  
<div class="tei_bibl">
"Hot-Foot Hannibal." <em>Atlantic Monthly</em>, January 1899. 49-56.</div>

<div class="tei_bibl">
"Hot-Foot Hannibal." <em>The Conjure Woman</em>. Boston and New York: Houghton Mifflin, 1899. 195-229. (Reprinted.)</div>

<div class="tei_bibl">
"Hot-Foot Hannibal." <em>Collected Stories of Charles W. Chesnutt</em>. New York: Mentor Books, 1992. 76-88.</div>

<div class="tei_bibl">
"Hot-Foot Hannibal." <em>The Conjure Woman and Other Conjure Tales</em>. Durham and London: Duke University Press, 1993. 107-122.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"How a Good Man Went Wrong"</span></h4>
  
<div class="tei_bibl">
"How a Good Man Went Wrong." <em>Puck</em>, November 28, 1888. 214.</div>

<div class="tei_bibl">
"How a Good Man Went Wrong." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 190-191. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"How Dasdy Came Through"</span></h4>

<div class="tei_bibl">
"How Dasdy Came Through." <em>Family Fiction</em>, February 12, 1887. (CC.)</div>

<div class="tei_bibl">
"How Dasdy Came Through." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 249-252. (Reprinted.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"How He Met Her"</span></h4>
  
<div class="tei_bibl">
"How He Met Her." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 283-285.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Jim's Romance"</span></h4>

<div class="tei_bibl">
"Jim's Romance." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 343-352.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Kiss"</span></h4>

<div class="tei_bibl">
"The Kiss." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 306-314.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Limb of Satan"</span></h4>
  
<div class="tei_bibl">
"A Limb of Satan." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 195-201.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Lonesome Ben"</span></h4>
  
<div class="tei_bibl">
"Lonesome Ben." <em>Southern Workman</em>, March 1900. 137-145.</div>

<div class="tei_bibl">
"Lonesome Ben." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 106-114. (Reprinted.)</div>

<div class="tei_bibl">
"Lonesome Ben." <em>The Conjure Woman and Other Conjure Tales</em>. Durham and London: Duke University Press, 1993. 146-157.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"McDugald's Mule"</span></h4>

<div class="tei_bibl">
"McDugald's Mule." <em>Family Fiction</em>, January 15, 1887. (CC.)</div>

<div class="tei_bibl">
"McDugald's Mule." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 183-185. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The March of Progress"</span></h4>
  
<div class="tei_bibl">
"The March of Progress." <em>Century</em>, January 1901. 422-428.</div>

<div class="tei_bibl">
"The March of Progress." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 214-222. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Marked Tree"</span></h4>

<div class="tei_bibl">
"The Marked Tree." <em>The Crisis</em>, December 1924. (Serialized, starting in December 1924 and ending January 1925.)</div>

<div class="tei_bibl">
"The Marked Tree." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 142-152. (Reprinted.)</div>

<div class="tei_bibl">
"The Marked Tree." <em>The Conjure Woman and Other Conjure Tales</em>. Durham and London: Duke University Press, 1993. 194-207.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Mars Jeems's Nightmare"</span></h4>
  
<div class="tei_bibl">
"Mars Jeem's Nightmare." <em>The Conjure Woman</em>. Boston and New York: Houghton Mifflin, 1899. 64-102.</div>

<div class="tei_bibl">
"Mars Jeem's Nightmare." <em>Collected Stories of Charles W. Chesnutt</em>. New York: Mentor Books, 1992. 25-39. (Reprinted.)</div>

<div class="tei_bibl">
"Mars Jeem's Nightmare." <em>The Conjure Woman and Other Conjure Tales</em>. Durham and London: Duke University Press, 1993. 55-69.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Matter of Principle"</span></h4>
  
<div class="tei_bibl">
"A Matter of Principle." <em>The Wife of His Youth and Other Stories of the Color Line</em>. Boston: Houghton Mifflin, 1899. 94-131.</div>

<div class="tei_bibl">
"A Matter of Principle." <em>Collected Stories of Charles W. Chesnutt</em>. New York: Mentor Books, 1992. 149-167. (Reprinted.)</div>

<div class="tei_bibl">
"A Matter of Principle." <em>Tales of Conjure and the Color Line: 10 Stories</em>. Mineola, NY: Dover Publications, Inc., 1998. 67-82.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Metropolitan Experience"</span></h4>

<div class="tei_bibl">
"A Metropolitan Experience." <em>Chicago Ledger</em>, June 15, 1887. (CC.)</div>

<div class="tei_bibl">
"A Metropolitan Experience." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 286-291. (Reprinted.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Midnight Adventure"</span></h4>

<div class="tei_bibl">
"A Midnight Adventure." <em>New Haven Register</em> (New Haven, CT), December 6, 1887. (CC.)</div>

<div class="tei_bibl">
"A Midnight Adventure." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 85-88. (Reprinted.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Miscarriage of Justice"</span></h4>

<div class="tei_bibl">
"A Miscarriage of Justice." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 357-364.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Mr. Taylor's Funeral</span></h4>
  
<div class="tei_bibl">
"Mr. Taylor's Funeral." <em>The Crisis</em>, April 1915. (Serialized, starting in April 1915 (313-316) and ending May 1915 (34-47).)</div>

<div class="tei_bibl">
"Mr. Taylor's Funeral." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 261-270. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"An Original Sentiment"</span></h4>

<div class="tei_bibl">
"An Original Sentiment." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 78-79.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Origin of the Hatchet Story"</span></h4>
  
<div class="tei_bibl">
"The Origin of the Hatchet Story." <em>Puck</em>, April 24, 1889. 132.</div>

<div class="tei_bibl">
"The Origin of the Hatchet Story." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 83-84. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Partners"</span></h4>

<div class="tei_bibl">
"The Partners." <em>Southern Workman</em>, May 1901. 271-278.</div>

<div class="tei_bibl">
"The Partners." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 253-260. (Reprinted.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Passing of Grandison"</span></h4>

<div class="tei_bibl">
"The Passing of Grandison." <em>The Wife of His Youth and Other Stories of the Color Line</em>. Boston: Houghton Mifflin, 1899. 168-202.</div>

<div class="tei_bibl">
"The Passing of Grandison." <em>Collected Stories of Charles W. Chesnutt</em>. New York: Mentor Books, Penguin, 1992. 187-204. (Reprinted.)</div>

<div class="tei_bibl">
"The Passing of Grandison." <em>Tales of Conjure and the Color Line: 10 Stories</em>. Mineola, NY: Dover Publications, Inc., 1998. 83-97.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Po' Sandy"</span></h4>
  
<div class="tei_bibl">
"Po' Sandy." <em>Atlantic Monthly</em>, May 1888. 605-611.</div>

<div class="tei_bibl">
"Po' Sandy." <em>The Conjure Woman</em>. Boston and New York: Houghton Mifflin, 1899. 36-63. (Reprinted.)</div>

<div class="tei_bibl">
"Po' Sandy." <em>Collected Stories of Charles W. Chesnutt</em>. New York: Mentor Books, 1992. 14-24.</div>

<div class="tei_bibl">
"Po' Sandy." <em>The Conjure Woman and Other Conjure Tales</em>. Durham and London: Duke University Press, 1993. 44-54.</div>

<div class="tei_bibl">
"Po' Sandy." <em>Tales of Conjure and the Color Line: 10 Stories</em>. Mineola, NY: Dover Publications, Inc., 1998. 12-20.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Prophet Peter"</span></h4>
  
<div class="tei_bibl">
"The Prophet Peter." <em>Hathaway-Brown Magazine</em>, April 1, 1906. 51-66.</div>

<div class="tei_bibl">
"The Prophet Peter." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 236-248. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Roman Antique"</span></h4>
  
<div class="tei_bibl">
"A Roman Antique." <em>Puck</em>, July 17, 1889. 351.</div>

<div class="tei_bibl">
"A Roman Antique." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 75-76. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Secret Ally"</span></h4>

<div class="tei_bibl">
"A Secret Ally." <em>New Haven Register</em> (New Haven, CT), September 19, 1887. (CC.)</div>

<div class="tei_bibl">
"A Secret Ally." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 303-305. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Shadow of My Past"</span></h4>
  
<div class="tei_bibl">
"The Shadow of My Past." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 292-302.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"She Reminded Him"</span></h4>

<div class="tei_bibl">
"She Reminded Him." <em>Puck</em>, September 21, 1887. 58.</div>

<div class="tei_bibl">
"She Reminded Him." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 77. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Sheriff's Children"</span></h4>

<div class="tei_bibl">
"The Sheriff's Children." <em>New York Independent</em>, November 7, 1889. 30-32.</div>

<div class="tei_bibl">
"The Sheriff's Children." <em>The Wife of His Youth</em>. Boston: Houghton Mifflin, 1899. (Reprinted.)</div>

<div class="tei_bibl">
"The Sheriff's Children." <em>Collected Stories of Charles W. Chesnutt</em>. New York: Mentor Books, 1992. 132-148.</div>

<div class="tei_bibl">
"The Sheriff's Children." <em>Tales of Conjure and the Color Line: 10 Stories</em>. Mineola, NY: Dover Publications, Inc., 1998. 32-46.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Sis' Becky's Pickaninny"</span></h4>

<div class="tei_bibl">
"Sis' Becky's Pickaninny." <em>The Conjure Woman</em>. Boston and New York: Houghton Mifflin, 1899. 132-161.</div>

<div class="tei_bibl">
"Sis' Becky's Pickaninny." <em>Collected Stories of Charles W. Chesnutt</em>. New York: Mentor Books, 1992. 51-62. (Reprinted.)</div>

<div class="tei_bibl">
"Sis' Becky's Pickaninny." <em>The Conjure Woman and Other Conjure Tales</em>. Durham and London: Duke University Press, 1993. 82-93.</div>

<div class="tei_bibl">
"Sis' Becky's Pickaninny." <em>Tales of Conjure and the Color Line: 10 Stories</em>. Mineola, NY: Dover Publications, Inc., 1998. 57-66.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Soulless Corporation"</span></h4>

<div class="tei_bibl">
"A Soulless Corporation." <em>Tid-Bits</em>, April 16, 1887. (CC.)</div>

<div class="tei_bibl">
"A Soulless Corporation." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 70-72.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Stryker's Waterloo"</span></h4>

<div class="tei_bibl">
"Stryker's Waterloo." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 365-373.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Sway-Backed House"</span></h4>

<div class="tei_bibl">
"The Sway-Backed House." <em>Outlook</em>, November 1900. 588-593.</div>

<div class="tei_bibl">
"The Sway-Backed House." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 223-231. (Reprinted.)</div>
  
</div> 

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Tight Boot"</span></h4>

<div class="tei_bibl">
"A Tight Boot." <em>Cleveland News and Herald</em> (Cleveland, OH), January 30, 1886. (CC.)</div>

<div class="tei_bibl">
"A Tight Boot." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 58-61. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Tobe's Tribulations"</span></h4>

<div class="tei_bibl">
"Tobe's Tribulations." <em>Southern Workman</em>, November 1900. 656-664.</div>

<div class="tei_bibl">
"Tobe's Tribulations." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 97-105. (Reprinted.)
</div>

<div class="tei_bibl">
"Tobe's Tribulations." <em>The Conjure Woman and Other Conjure Tales</em>. Durham and London: Duke University Press, 1993. 183-193.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Tom's Warm Welcome"</span></h4>

<div class="tei_bibl">
"Tom's Warm Welcome." <em>Family Fiction</em>, November 27, 1886. (CC.)</div>

<div class="tei_bibl">
"Tom's Warm Welcome." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 186-189. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Two Wives"</span></h4>

<div class="tei_bibl">
"Two Wives." <em>New Haven Evening Register</em> (New Haven, CT), August 13, 1886. 3.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Uncle Peter's House"</span></h4>

<div class="tei_bibl">
"Uncle Peter's House." <em>Cleveland News and Herald</em> (Cleveland, OH), December 1885. (Syndicated by S. S. McClure.)</div>

<div class="tei_bibl">
"Uncle Peter's House." <em>Saint Paul and Minneapolis Pioneer Press</em> (Saint Paul, MN), December 7-8, 1885. 8, 10. (Syndicated by S.S. McClure; CC.)</div>

<div class="tei_bibl">
"Uncle Peter's House." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 168-176. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Uncle Wellington's Wives"</span></h4>

<div class="tei_bibl">
"Uncle Wellington's Wives." <em>The Wife of His Youth and Other Stories of the Color Line</em>. Boston: Houghton Mifflin, 1899. 203-268.</div>

<div class="tei_bibl">
"Uncle Wellington's Wives." <em>Collected Stories of Charles W. Chesnutt</em>. New York: Mentor Books, 1992. 205-237. </div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Victim of Heredity; or, Why the Darkey Loves Chicken"</span></h4>

<div class="tei_bibl">
"A Victim of Heredity; or, Why the Darkey Loves Chicken." <em>Self-Culture Magazine</em>, July 1900. 404-409.</div>

<div class="tei_bibl">
"A Victim of Heredity; or, Why the Darkey Loves Chicken." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 123-131. (Reprinted.)</div>

<div class="tei_bibl">
"A Victim of Heredity; or, Why the Darkey Loves Chicken." <em>The Conjure Woman and Other Conjure Tales</em>. Durham and London: Duke University Press, 1993. 172-182.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Virginia Chicken"</span></h4>

<div class="tei_bibl">
"A Virginia Chicken." <em>Household Realm</em>, August 1887. (CC.)</div>

<div class="tei_bibl">
"A Virginia Chicken." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 164-167. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Walter Knox's Record"</span></h4>

<div class="tei_bibl">
"Walter Knox's Record." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 374-382.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Web of Circumstance"</span></h4>

<div class="tei_bibl">
"The Web of Circumstance." <em>The Wife of His Youth and Other Stories of the Color Line</em>. Boston: Houghton Mifflin, 1899. 291-323.</div>

<div class="tei_bibl">
"The Web of Circumstance." <em>Collected Stories of Charles W. Chesnutt</em>. New York: Mentor Books, 1992. 249-265. (Reprinted.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"White Weeds"</span></h4>

<div class="tei_bibl">
"White Weeds." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 391-404.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Wife of His Youth"</span></h4>
  
<div class="tei_bibl">
"The Wife of His Youth." <em>Atlantic Monthly</em>, July 1898. 55-61.</div>

<div class="tei_bibl">
"The Wife of His Youth." <em>The Wife of His Youth</em>. Boston: Houghton Mifflin, 1899. (Reprinted.)</div>

<div class="tei_bibl">
"The Wife of His Youth" as "L'Epouse de sa Jeunesse." Translated by Marie Louise Preis. <em>Jour'nal de Geneve</em>, November 1910. (Serialized, starting on November 4 (4), continuing on November 5 (4), and ending on November 6, 1910 (2).)</div>

<div class="tei_bibl">
"The Wife of His Youth." <em>Collected Stories of Charles W. Chesnutt</em>. New York: Mentor Books, 1992. 102-113.</div>

<div class="tei_bibl">
"The Wife of His Youth." <em>Tales of Conjure and the Color Line: 10 Stories</em>. Mineola, NY: Dover Publications, Inc., 1998. 47-56.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Wine and Water"</span></h4>

<div class="tei_bibl">
"Wine and Water." <em>Family Fiction</em>, April 23, 1887. (CC.)</div>

<div class="tei_bibl">
"Wine and Water." <em>The Short Fiction of Charles W. Chesnutt</em>. Washington, DC: Howard University Press, 1974. 232-235. (Reprinted.)</div>

</div>

</div>

<div class="bibliography_poems">
<h3 class="tei_head"><span class="tei_hi tei_hi_rend_bold">Poems:</span></h3>
  
<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Ballad of Fair Oscar"</span></h4>

<div class="tei_bibl">
"The Ballad of Fair Oscar." <em>Tid-Bits</em>, December 18, 1886. (CC.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Battle Hymn"</span></h4>

<div class="tei_bibl">
"A Battle Hymn." <em>Social Circle Journal</em>, October 1886. 1.</div>
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Father's Dream"</span></h4>
  
<div class="tei_bibl">
"A Father's Dream." <em>Cleveland Voice</em> (Cleveland, OH), March 8, 1885. 2.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Garden"</span></h4>

<div class="tei_bibl">
"The Garden." n.p. December 1886. (CC.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_section">"An Oasis"</span></h4>
  
<div class="tei_bibl">
"An Oasis." <em>Tid-Bits</em>, n.d. (CC.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Summer Cloud"</span></h4>
  
<div class="tei_bibl">
"A Summer Cloud." <em>Cleveland Voice</em> (Cleveland, OH), August 30, 1885. 2.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"To the Grand Army of the Republic"</span></h4>

<div class="tei_bibl">
"To the Grand Army of the Republic." <em>Cleveland Leader</em> (Cleveland, OH), September 8, 1901. 12.</div>

</div>

</div>

<div class="bibliography_essays_articles">
<h3 class="tei_head"><span class="tei_hi tei_hi_rend_bold">Essays and Articles:</span></h3>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Advice to Young Men"</span></h4>

<div class="tei_bibl">
"Advice to Young Men." <em>Social Circle Journal</em>, November 1886. 1.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Charles W. Chesnutt's Own View of His New Story, 'The Marrow of Tradition'"</span></h4>

<div class="tei_bibl">
"Charles W. Chesnutt's Own View of His New Story, 'The Marrow of Tradition'." <em>Cleveland World</em> (Cleveland, OH), October 20, 1901. 5.</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Disfranchisement of the Negro."</span></h4>

<div class="tei_bibl">
"The Disfranchisement of the Negro." <em>The Negro Problem: A Series of Articles by Representative American Negros of To-day</em>. Edited by Booker T. Washington, et al. New York: James Pott &amp; Company, 1903. 79-124.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Free Colored People of North Carolina"</span></h4>
  
<div class="tei_bibl">
"The Free Colored People of North Carolina." <em>Southern Workman</em>, March 1902. 136-141.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Future American: A Complete Race Amalgamation Likely to Occur"</span></h4>

<div class="tei_bibl">
"The Future American: A Complete Race Amalgamation Likely to Occur." <em>Boston Evening Transcript</em> (Boston, MA), September 1, 1900. 24.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Future American: A Stream of Dark Blood in the Veins of Southern Whites"</span></h4>

<div class="tei_bibl">
"The Future American: A Stream of Dark Blood in the Veins of Southern Whites." <em>Boston Evening Transcript</em> (Boston, MA), August 25, 1900. 15.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Future American: What the Race Is Likely to Become in the Process of Time"</span></h4>

<div class="tei_bibl">
"The Future American: What the Race Is Likely to Become in the Process of Time." <em>Boston Evening Transcript</em> (Boston, MA), August 18, 1900. 20.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Lincoln's Courtship"</span></h4>

<div class="tei_bibl">
"Lincoln's Courtship." <em>Southwestern Christian Advocate</em>, February 4, 1909. 8.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Methods of Teaching"</span></h4>

<div class="tei_bibl">
"Methods of Teaching." <em>Minutes of the North Carolina State Teachers' Educational Association</em>. Raleigh, NC: Baptist Standard Print, 1883. 5-13.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Mission of the Drama"</span></h4>
  
<div class="tei_bibl">
"The Mission of the Drama." <em>Cygnet</em>, January 1920. 11-12. (CC.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Multitude of Counselors"</span></h4>

<div class="tei_bibl">
"A Multitude of Counselors." <em>New York Independent</em>, April 2, 1891. 4-5.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Negro in Cleveland"</span></h4>

<div class="tei_bibl">
"The Negro in Cleveland." <em>Clevelander</em>, November 1930. 3-4, 24, 26-27.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Negro's Franchise"</span></h4>
  
<div class="tei_bibl">
"The Negro's Franchise." <em>Boston Evening Transcript</em> (Boston, MA), May 11, 1901. 18.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Obliterating the Color Line"</span></h4>

<div class="tei_bibl">
"Obliterating the Color Line." <em>Cleveland World</em> (Cleveland, OH), October 23, 1901. 2. (An unsigned editorial attributed to Chesnutt.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Peonage, Or the New Slavery"</span></h4>

<div class="tei_bibl">
"Peonage, Or the New Slavery." <em>Voice of the Negro</em>, September 1904. 394-397.</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Post-Bellum-Pre-Harlem"</span></h4>
  
<div class="tei_bibl">
"Post-Bellum-Pre-Harlem." <em>Colophon</em>, 1931. 20.</div>

<div class="tei_bibl">
"Post-Bellum-Pre-Harlem." <em>The Crisis</em>, June 1931. 18.</div>

<div class="tei_bibl">
"Post-Bellum-Pre-Harlem." <em>Breaking into Print</em>
  
<em class="tei_title tei_title_level_m tei_title_type_main">Breaking into Print</em>. Edited by Elmer Alder. New York: Simon and Schuster, 1937.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Race Ideals and Examples"</span></h4>
  
<div class="tei_bibl">
"Race Ideals and Examples." <em>A.M.E. Review</em>, 1913. 101-117. (Text of an address delivered at Wilberforce University, June 1913.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Race Prejudice: Its Causes and Its Cure"</span></h4>

<div class="tei_bibl">
"Race Prejudice: Its Cause and Its Cure." <em>Alexander's Magazine</em>, July 15, 1905. 21-26. (Text of an address delivered before the Boston Historical and Literary Association, June 1905.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Superstitions and Folk-Lore of the South"</span></h4>

<div class="tei_bibl">
"Superstitions and Folk-Lore of the South." <em>Modern Culture</em>, May 1901. 231-235.</div>

<div class="tei_bibl">
"Superstitions and Folk-Lore of the South." <em>Mother Wit from the Laughing Barrel</em>. Edited by Alan Dundes. Englewood Cliffs, NJ: Prentice Hall, 1973. 369-376. (Reprinted.)</div>
  
</div> 

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Things To Be Thankful For"</span></h4>

<div class="tei_bibl">
"Things To Be Thankful For." <em>Social Circle Journal</em>, 1886. (CC.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Visit to Tuskegee"</span></h4>
  
<div class="tei_bibl">
"A Visit to Tuskegee." <em>Cleveland Leader</em> (Cleveland, OH), March 31, 1901. 19.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"What Is a White Man?"</span></h4>

<div class="tei_bibl">
"What Is a White Man?" <em>New York Independent</em>, May 30, 1889. 5-6.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The White and the Black"</span></h4>

<div class="tei_bibl">
"The White and the Black." <em>Boston Evening Transcript</em> (Boston, MA), March 20, 1901. 13.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Women's Rights"</span></h4>
  
<div class="tei_bibl">
"Women's Rights." <em>The Crisis</em>, August 1915. 182-183.</div>
  
</div>

</div>

<div class="bibliography_miscellaneous">
<h3 class="tei_head"><span class="tei_hi tei_hi_rend_bold">Miscellaneous:</span></h3>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Advocates New Social House"</span></h4>

<div class="tei_bibl">
"Advocates New Social House." <em>Cleveland Journal</em>, December 2, 1905. 1.</div>

<div class="tei_bibl">
"Advocates New Social House." November 1905. (Reprint of a Chesnutt speech, "Does Central Avenue Need a Social Settlement House?," delivered before the Cleveland Negro Board of Trade.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Defamer of His Race"</span></h4>

<div class="tei_bibl">
"A Defamer of His Race." <em>Critic</em>, April 1901. 350-351.</div>

<div class="tei_bibl">
"A Defamer of His Race." Review of <em>The American Negro</em>, by William Hannibal Thomas. New York: Macmillan, 1901.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"American Orators and Oratory"</span></h4>

<div class="tei_bibl">
"American Orators and Oratory: Being a Report of Lectures Delivered by Thomas Wentworth Higginson at Western Reserve University; Under the Auspices of the Western Reserve Chapter, Daughters of the American Revolution." Cleveland: Imperial Press, 1901. (With illustrations.)</div>

</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Negro in Art"</span></h4>
  
<div class="tei_bibl">
"The Negro in Art." <em>The Crisis</em>, November 1926. 28-29. (Remarks contributed to a symposium.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"The Negro in the South"</span></h4>
  
<div class="tei_bibl">
"The Negro in the South." <em>Boston Evening Transcript</em> (Boston, MA), September 20, 1899. 16. (A correspondent's summary of a Chesnutt lecture delivered at the Greenacre Summer School in Elliot, Maine, in August 1899.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Negroes To Walk in Perry's Parade"</span></h4>

<div class="tei_bibl">
"Negroes to Walk in Perry's Parade." <em>Cleveland Plain Dealer</em> (Cleveland, OH), September 8, 1913. 3. (News article containing a brief Chesnutt essay on the role of African Americans in the War of 1812.)</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"On the Future of His People"</span></h4>
  
<div class="tei_bibl">
"On the Future of His People." Review of <em>The Future of the American Negro</em>, by Booker T. Washington (Boston: Small, Maynard &amp; Co., 1899). <em>Saturday Evening Post</em>, January 20, 1900. 646.</div>
 
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"A Plea for the American People"</span></h4>
  
<div class="tei_bibl">
"A Plea for the American People." Review of <em>The Future of the American Negro</em>, by Booker T. Washington (Boston: Small, Maynard &amp; Co., 1899). <em>Critic</em>, February 1900. 160-163.</div>
  
</div>

<div class="section">
<h4 class="tei_head"><span class="tei_hi tei_hi_rend_bold">"Pussy Meow: The Autobiography of a Cat, S.L. Patteson"</span></h4>
  
<div class="tei_bibl">
Review of "Pussy Meow: The Autobiography of a Cat," by S.L. Patteson. <em>Modern Culture</em>, November 1901. 261.</div>

</div>

</div>

</div>
    
</div>