

<% if @header == true %>
  </div><%# close container div for full width  %>

  <div class="page_banner_outer">
    <div class="container">
      <div class="page_banner_text"><h1 style="">Scholarship</h1>
        <p>Lorum Ipsum </p>
      </div>
      <div class="page_banner_illustration">
        <div class="page_banner_illustration_inner">
          
        </div>
      </div>
    </div>
  </div>

  <div class="container"><%# reopen container div %>
<% end %><%# end if @header == true  %>

<div>
  <%= link_to "Bibliography", scholarship_bibliography_path %>
</div>