<div class="item_error_message">
  <h1>
    Item <span><%= params["id"] %></span> is not available.
  </h1>
  <div class="h3">
    The item number may be incorrect or we may still be editing the item.
    <br/>Please check back
  </div>
</div>

